CONFIG_APP_ADDRESS=0x4802CA1C
CONFIG_APP_CALLER=0x4802892C
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x174E90
CONFIG_BOOTMODE_ADDRESS=0x48177B7C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4802D99C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4802D940
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4802DB14
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4802D69C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4802D660
CONFIG_LK_LOG_STORE_ADDRESS=0x4804AE3E
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48008BA0
CONFIG_PLATFORM_INIT_ADDRESS=0x4800720C
CONFIG_PLATFORM_INIT_CALLER=0x480279F4
CONFIG_VIDEO_PRINTF_ADDRESS=0x480384F4
CONFIG_HUAWEI_AMMAN=y
CONFIG_MEDIATEK_MT6761=y
