CONFIG_APP_ADDRESS=0x48035280
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x1B06DC
CONFIG_BOOTMODE_ADDRESS=0x481B3D9C
CONFIG_DPRINTF_ADDRESS=0x48061868
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48035A5C
CONFIG_FASTBOOT_INFO_ADDRESS=0x48035A00
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48035BD4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4803575C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48035720
CONFIG_FREE_ADDRESS=0x48062A2C
CONFIG_HUAWEI_DURA2=y
CONFIG_INIT_STORAGE_ADDRESS=0x4800C03C
CONFIG_INIT_STORAGE_CALLER=0x4800C236
CONFIG_LK_LOG_STORE_ADDRESS=0x48076A10
CONFIG_MALLOC_ADDRESS=0x48063388
CONFIG_MEDIATEK_MT6762=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4800E15C
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4807D36C
CONFIG_PARTITION_READ_ADDRESS=0x4807EE24
CONFIG_PLATFORM_INIT_ADDRESS=0x4800C204
CONFIG_PLATFORM_INIT_CALLER=0x4802C390
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4802C71C
CONFIG_THREAD_RESUME_ADDRESS=0x4802C8B0
CONFIG_VIDEO_PRINTF_ADDRESS=0x48061190