CONFIG_APP_ADDRESS=0x6002C9E4
CONFIG_BOOTLOADER_BASE=0x60000000
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_BOOTLOADER_SIZE=0xB704C
CONFIG_BOOTMODE_ADDRESS=0x600BE144
CONFIG_CERT_BYPASS=y
CONFIG_CERT_BYPASS_MODE="wrap"
CONFIG_DPRINTF_ADDRESS=0x60044870
CONFIG_FASTBOOT_CMDLIST_ADDRESS=0x600D301C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x6002DAC4
CONFIG_FASTBOOT_INFO_ADDRESS=0x6002DA7C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x6002DC3C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x6002D87C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x6002D840
CONFIG_FREE_ADDRESS=0x60044C28
CONFIG_HUAWEI_DURA=y
CONFIG_INIT_STORAGE_ADDRESS=0x60006FA0
CONFIG_INIT_STORAGE_CALLER=0x60002C6C
CONFIG_LK_LOG_STORE_ADDRESS=0x6000135C
CONFIG_MALLOC_ADDRESS=0x600454B8
CONFIG_MEDIATEK_MT6739=y
CONFIG_MISC_PARTITION_NAME="para"
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x60055530
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x6002102C
CONFIG_PLATFORM_INIT_ADDRESS=0x60002BF8
CONFIG_PLATFORM_INIT_CALLER=0x60025C60
CONFIG_STORAGE_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x60026278
CONFIG_THREAD_RESUME_ADDRESS=0x6002648C
CONFIG_USE_MT_PART_API=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x60044570
