CONFIG_APP_ADDRESS=0x48028C78
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x16FA94
CONFIG_BOOTMODE_ADDRESS=0x48172BBC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48029C58
CONFIG_FASTBOOT_INFO_ADDRESS=0x48029BFC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48029DD0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48029958
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4802991C
CONFIG_LK_LOG_STORE_ADDRESS=0x480470C0
CONFIG_HUAWEI_MADRID=y
CONFIG_MEDIATEK_MT6761=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4800942C
CONFIG_PLATFORM_INIT_ADDRESS=0x48007A80
CONFIG_PLATFORM_INIT_CALLER=0x48023BBC
CONFIG_VIDEO_PRINTF_ADDRESS=0x480347F0