CONFIG_APP_ADDRESS=0x41E1C6D0
CONFIG_APP_CALLER=0x41E1AB00
CONFIG_BOOTLOADER_BASE=0x41E00000
CONFIG_BOOTLOADER_SIZE=0x6FB44
CONFIG_BOOTMODE_ADDRESS=0x41E70A30
CONFIG_FASTBOOT_INFO_ADDRESS=0x41E1CC88
CONFIG_FASTBOOT_FAIL_ADDRESS=0x41E1CCD0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x41E1CD20
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x41E1CA7C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x41E1CA48
CONFIG_MTK_DETECT_KEY_ADDRESS=0x41E05A70
CONFIG_FREE_ADDRESS=0x41E25CDC
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x41E26578
CONFIG_MEDIATEK_MT6737=y
CONFIG_THREAD_RESUME_ADDRESS=0x41E1A284
CONFIG_VIDEO_PRINTF_ADDRESS=0x41E25724
CONFIG_PLATFORM_INIT_ADDRESS=0x41E02054
CONFIG_PLATFORM_INIT_CALLER=0x41E19F0A
CONFIG_INIT_STORAGE_ADDRESS=0x41E06D1C
CONFIG_INIT_STORAGE_CALLER=0x41E020B0
CONFIG_HUAWEI_MAYA=y
CONFIG_LEGACY_LK=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_DPRINTF_ADDRESS=0x41E259B8
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x41E056DC
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x41E05538