CONFIG_APP_ADDRESS=0x4802FEB8
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x1A8384
CONFIG_BOOTMODE_ADDRESS=0x481ABD94
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48030690
CONFIG_FASTBOOT_INFO_ADDRESS=0x48030634
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48030808
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48030390
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48030354
CONFIG_LK_LOG_STORE_ADDRESS=0x4807148C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4800DB90
CONFIG_PLATFORM_INIT_ADDRESS=0x4800BC38
CONFIG_PLATFORM_INIT_CALLER=0x48027120
CONFIG_VIDEO_PRINTF_ADDRESS=0x4805BDB0
CONFIG_HUAWEI_MODENA1=y
CONFIG_MEDIATEK_MT6765=y