CONFIG_MEDIATEK_MT8127=y
CONFIG_AMAZON_AUSTIN=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x81E3ED84
CONFIG_FASTBOOT_INFO_ADDRESS=0x81E3ED3C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x81E3EEFC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x81E3EB7C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x81E3EB3C
CONFIG_STORAGE_SUPPORT=y
CONFIG_BLKDEV_HAS_BROKEN_UNALIGNED_ACCESS=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x81E35C24
CONFIG_BOOTLOADER_BASE=0x81E00000
CONFIG_BOOTLOADER_SIZE=0x79734
CONFIG_BOOTMODE_ADDRESS=0x81E81374
CONFIG_PLATFORM_INIT_CALLER=0x81E3D28E
CONFIG_PLATFORM_INIT_ADDRESS=0x81E216F8
CONFIG_APP_ADDRESS=0x81E3EA54
CONFIG_MTK_DETECT_KEY_ADDRESS=0x81E282EC
CONFIG_VIDEO_PRINTF_ADDRESS=0x81E47018
# CONFIG_LK_LOG_STORE is not set
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_MISC_PARTITION_NAME="MISC"
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_LK_PART_HDR_NAME="LK"
CONFIG_STAGE1_SUPPORT=y
CONFIG_USE_LEGACY_PARTITION_API=y
CONFIG_PARTITION_GET_INDEX_ADDRESS=0x81E3B6FC
CONFIG_PARTITION_GET_OFFSET_ADDRESS=0x81E3B7C4
CONFIG_PARTITION_GET_SIZE_ADDRESS=0x81E3B780
CONFIG_BOOTLOADER_PARTITION_NAME="UBOOT"
CONFIG_INIT_STORAGE_CALLER=0x81E21712
CONFIG_INIT_STORAGE_ADDRESS=0x81E3AE50
CONFIG_MALLOC_ADDRESS=0x81E47FEC
CONFIG_DPRINTF_ADDRESS=0x81E479DC
CONFIG_FREE_ADDRESS=0x81E47638
