CONFIG_AMAZON_BISCUIT=y
CONFIG_APP_ADDRESS=0x4BD211A4
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_BOOTLOADER_PARTITION_NAME="expdb"
CONFIG_BOOTLOADER_SIZE=0x3AE74
CONFIG_BOOTMODE_ADDRESS=0x4BD4126C
CONFIG_DPRINTF_ADDRESS=0x4BD25E50
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD2181C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD217E0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD219EC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD21678
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD215F0
CONFIG_FREE_ADDRESS=0x4BD26108
CONFIG_IDMELIB_SUPPORT=y
CONFIG_INIT_STORAGE_ADDRESS=0x4BD1DC94
CONFIG_INIT_STORAGE_CALLER=0x4BD0F9A0
CONFIG_USE_MT_PART_API=y
CONFIG_LK_LOG_STORE=n
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_MALLOC_ADDRESS=0x4BD269E0
CONFIG_MEDIATEK_MT8163=y
CONFIG_MISC_PARTITION_NAME="misc"
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD11160
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4BD190EC
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4BD1902C
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD0F974
CONFIG_PLATFORM_INIT_CALLER=0x4BD1F21A
CONFIG_STAGE1_SUPPORT=y
CONFIG_STORAGE_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4BD1F448
CONFIG_THREAD_RESUME_ADDRESS=0x4BD1F5CC
CONFIG_THREAD_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD25DF6
