CONFIG_APP_CALLER=0x4BD27048
CONFIG_APP_ADDRESS=0x4BD2811C
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_SIZE=0x5C3B4
CONFIG_BOOTMODE_ADDRESS=0x4BD66504
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD28884
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD28848
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD28A2C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD28658
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD286E0
CONFIG_LK_LOG_STORE=n
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD12434
CONFIG_PLATFORM_INIT_CALLER=0x4BD26602
CONFIG_AMAZON_CHECKERS=y
CONFIG_MEDIATEK_MT8163=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD14928
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD2C2E2
CONFIG_LEGACY_LK=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_INIT_STORAGE_CALLER=0x4bd12454
CONFIG_INIT_STORAGE_ADDRESS=0x4bd249cc
CONFIG_MALLOC_ADDRESS=0x4bd2d0dc
CONFIG_FREE_ADDRESS=0x4bd2c9d0
CONFIG_DPRINTF_ADDRESS=0x4bd2c718
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4bd1fdc0
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4bd1fd00
