CONFIG_AMAZON_CRONOS=y
CONFIG_APP_ADDRESS=0x4BD28258
CONFIG_APP_CALLER=0x4BD27180
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_SIZE=0x5C3B4
CONFIG_BOOTLOADER_PARTITION_NAME="swdl"
CONFIG_BOOTMODE_ADDRESS=0x4BD66504
CONFIG_DPRINTF_ADDRESS=0x4BD2C7C0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD289C0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD28984
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD28B68
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD2881C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD28794
CONFIG_FREE_ADDRESS=0x4BD2CA78
CONFIG_INIT_STORAGE_ADDRESS=0x4BD24B04
CONFIG_INIT_STORAGE_CALLER=0x4BD1257C
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x4BD2D184
CONFIG_MEDIATEK_MT8163=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4BD1FEF4
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4BD1FE34
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD14A50
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD1255C
CONFIG_PLATFORM_INIT_CALLER=0x4BD2673A
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD2C38A
