CONFIG_APP_ADDRESS=0x4BD27B80
CONFIG_APP_CALLER=0x4BD26AAC
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_SIZE=0x71BDC
CONFIG_BOOTMODE_ADDRESS=0x4BD7A50C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD282E8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD282AC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD28490
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD149B4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD280BC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD28144
CONFIG_LK_LOG_STORE=n
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD124D8
CONFIG_PLATFORM_INIT_CALLER=0x4BD26066
CONFIG_AMAZON_CROWN=y
CONFIG_MEDIATEK_MT8163=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD2BC0A