CONFIG_AMAZON_CROWN=y
CONFIG_APP_ADDRESS=0x4BD27B80
CONFIG_APP_CALLER=0x4BD26AAC
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_PARTITION_NAME="swdl"
CONFIG_BOOTLOADER_SIZE=0x71BDC
CONFIG_BOOTMODE_ADDRESS=0x4BD7A50C
CONFIG_DPRINTF_ADDRESS=0x4BD2C040
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD282E8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD282AC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD28490
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD28144
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD280BC
CONFIG_FREE_ADDRESS=0x4BD2C2F8
CONFIG_INIT_STORAGE_ADDRESS=0x4BD249F4
CONFIG_INIT_STORAGE_CALLER=0x4BD124F8
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x4BD2CA04
CONFIG_MEDIATEK_MT8163=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD149B4
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD124D8
CONFIG_PLATFORM_INIT_CALLER=0x4BD26066
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4BD262A0
CONFIG_THREAD_RESUME_ADDRESS=0x4BD26424
CONFIG_THREAD_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD2BC0A
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4BD1FDE4
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4BD1FD24