CONFIG_MEDIATEK_MT8516=y
CONFIG_AMAZON_DONUT=y
CONFIG_THREAD_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x41E1A13C
CONFIG_THREAD_RESUME_ADDRESS=0x41E1A2C0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x41E1CE68
CONFIG_FASTBOOT_INFO_ADDRESS=0x41E1CE2C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x41E1D014
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x41E1CCC4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x41E1CC34
CONFIG_BOOTLOADER_BASE=0x41E00000
CONFIG_BOOTLOADER_SIZE=0x33D34
CONFIG_BOOTMODE_ADDRESS=0x41E3926C
CONFIG_PLATFORM_INIT_CALLER=0x41E19F5E
CONFIG_PLATFORM_INIT_ADDRESS=0x41E0F984
CONFIG_APP_ADDRESS=0x41E1C7D4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x41E117B0
CONFIG_VIDEO_PRINTF_ADDRESS=0x41E1EE94
# CONFIG_LK_LOG_STORE is not set
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=y
CONFIG_BOOTLOADER_PARTITION_NAME="expdb"
CONFIG_INIT_STORAGE_CALLER=0x41E0F9BC
CONFIG_INIT_STORAGE_ADDRESS=0x41E17B9C
CONFIG_MALLOC_ADDRESS=0x41E1F284
CONFIG_DPRINTF_ADDRESS=0x41E1E898
CONFIG_FREE_ADDRESS=0x41E1EB68
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x41E18F04
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x41E13944
