CONFIG_MEDIATEK_MT8163=y
CONFIG_AMAZON_DOUGLAS=y
CONFIG_THREAD_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4BD3D130
CONFIG_THREAD_RESUME_ADDRESS=0x4BD3D2D0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD3F6CC
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD3F684
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD3F87C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD3F4E8
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD3F454
CONFIG_STORAGE_SUPPORT=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4BD35DA8
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4BD35C40
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_SIZE=0x766B0
CONFIG_BOOTMODE_ADDRESS=0x4BD7C3A0
CONFIG_PLATFORM_INIT_CALLER=0x4BD3CEE6
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD23950
CONFIG_APP_ADDRESS=0x4BD3EFF4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD25F00
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD44990
# CONFIG_LK_LOG_STORE is not set
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_MISC_PARTITION_NAME="MISC"
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=y
CONFIG_BOOTLOADER_PARTITION_NAME="lk2"
CONFIG_INIT_STORAGE_CALLER=0x4BD23972
CONFIG_INIT_STORAGE_ADDRESS=0x4BD3AF68
CONFIG_MALLOC_ADDRESS=0x4BD45A04
CONFIG_DPRINTF_ADDRESS=0x4BD44D50
CONFIG_FREE_ADDRESS=0x4BD45050
