CONFIG_MEDIATEK_MT8127=y
CONFIG_AMAZON_FORD=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x81E3E054
CONFIG_FASTBOOT_INFO_ADDRESS=0x81E3E00C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x81E3E1CC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x81E3DE4C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x81E3DE0C
CONFIG_STORAGE_SUPPORT=y
CONFIG_BLKDEV_HAS_BROKEN_UNALIGNED_ACCESS=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x81E354F0
CONFIG_BOOTLOADER_BASE=0x81E00000
CONFIG_BOOTLOADER_SIZE=0x64A18
CONFIG_BOOTMODE_ADDRESS=0x81E6D370
CONFIG_PLATFORM_INIT_CALLER=0x81E3C4BA
CONFIG_PLATFORM_INIT_ADDRESS=0x81E213BC
CONFIG_APP_ADDRESS=0x81E3DD24
CONFIG_MTK_DETECT_KEY_ADDRESS=0x81E28024
CONFIG_VIDEO_PRINTF_ADDRESS=0x81E42288
# CONFIG_LK_LOG_STORE is not set
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_MISC_PARTITION_NAME="MISC"
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_LK_PART_HDR_NAME="LK"
CONFIG_STAGE1_SUPPORT=y
CONFIG_USE_LEGACY_PARTITION_API=y
CONFIG_PARTITION_GET_INDEX_ADDRESS=0x81E3AFC8
CONFIG_PARTITION_GET_OFFSET_ADDRESS=0x81E3B090
CONFIG_PARTITION_GET_SIZE_ADDRESS=0x81E3B04C
CONFIG_BOOTLOADER_PARTITION_NAME="UBOOT"
CONFIG_INIT_STORAGE_CALLER=0x81E213D6
CONFIG_INIT_STORAGE_ADDRESS=0x81E3A71C
CONFIG_MALLOC_ADDRESS=0x81E4325C
CONFIG_DPRINTF_ADDRESS=0x81E42C4C
CONFIG_FREE_ADDRESS=0x81E428A8
