CONFIG_BOOTLOADER_BASE=0x4CE00000
CONFIG_BOOTLOADER_SIZE=0x9DD88
CONFIG_FASTBOOT_INFO_ADDRESS=0x4ce27244
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4ce27294
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4ce27400
CONFIG_THREAD_CREATE_ADDRESS=0x4CE25424
CONFIG_AMAZON_KARAT=y
CONFIG_MEDIATEK_MT8696=y
CONFIG_PLATFORM_INIT_ADDRESS=0x4ce0e778
CONFIG_PLATFORM_INIT_CALLER=0x4ce25212
CONFIG_INIT_STORAGE_ADDRESS=0x4ce22278
CONFIG_INIT_STORAGE_CALLER=0x4ce0e79c
CONFIG_APP_ADDRESS=0x4ce26bcc
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4ce270a0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4ce27064
CONFIG_DPRINTF_ADDRESS=0x4ce2b768
CONFIG_BOOTMODE_ADDRESS=0x4cea57e8
CONFIG_FREE_ADDRESS=0x4ce2ba38
CONFIG_MALLOC_ADDRESS=0x4ce2c070
CONFIG_LEGACY_LK=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_STORAGE_SUPPORT=y
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_MISC_PARTITION_NAME="misc"
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4ce244fc
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4ce1e0b4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x0
CONFIG_VIDEO_PRINTF_ADDRESS=0x4ce2b51e
CONFIG_LK_LOG_STORE=y
CONFIG_LK_LOG_STORE_ADDRESS=0x4CE33900
CONFIG_IDMELIB_SUPPORT=y
