CONFIG_AMAZON_KARAT=y
CONFIG_APP_ADDRESS=0x4CE26BCC
CONFIG_BOOTLOADER_BASE=0x4CE00000
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_BOOTLOADER_SIZE=0x9DD88
CONFIG_BOOTMODE_ADDRESS=0x4CEA57E8
CONFIG_DPRINTF_ADDRESS=0x4CE2B768
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4CE27294
CONFIG_FASTBOOT_INFO_ADDRESS=0x4CE27244
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4CE27400
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4CE270A0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4CE27064
CONFIG_FREE_ADDRESS=0x4CE2BA38
CONFIG_IDMELIB_SUPPORT=y
CONFIG_INIT_STORAGE_ADDRESS=0x4CE22278
CONFIG_INIT_STORAGE_CALLER=0x4CE0E79C
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE=y
CONFIG_LK_LOG_STORE_ADDRESS=0x4CE33900
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_MALLOC_ADDRESS=0x4CE2C070
CONFIG_MEDIATEK_MT8696=y
CONFIG_MISC_PARTITION_NAME="misc"
CONFIG_MTK_DETECT_KEY_ADDRESS=0x0
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4CE244FC
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4CE1E0B4
CONFIG_PLATFORM_INIT_ADDRESS=0x4CE0E778
CONFIG_PLATFORM_INIT_CALLER=0x4CE25212
CONFIG_STAGE1_SUPPORT=y
CONFIG_STORAGE_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4CE25424
CONFIG_VIDEO_PRINTF_ADDRESS=0x4CE2B51E
