CONFIG_MEDIATEK_MT8183=y
CONFIG_AMAZON_MAVERICK=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x5602F618
CONFIG_FASTBOOT_INFO_ADDRESS=0x5602F5C4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x5602F780
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x5602F3B4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x5602F378
CONFIG_BOOTLOADER_BASE=0x56000000
CONFIG_BOOTLOADER_SIZE=0x85AC0
CONFIG_BOOTMODE_ADDRESS=0x5608D574
CONFIG_PLATFORM_INIT_CALLER=0x5602BD1E
CONFIG_PLATFORM_INIT_ADDRESS=0x56011ADC
CONFIG_APP_ADDRESS=0x5602EA30
CONFIG_MTK_DETECT_KEY_ADDRESS=0x56014484
CONFIG_VIDEO_PRINTF_ADDRESS=0x560347A8
# CONFIG_LK_LOG_STORE is not set
CONFIG_LK_SIGNATURE_SIZE=0x10C
CONFIG_STAGE1_SUPPORT=y
CONFIG_INIT_STORAGE_CALLER=0x56011B08
CONFIG_INIT_STORAGE_ADDRESS=0x56011928
CONFIG_MALLOC_ADDRESS=0x56035504
CONFIG_DPRINTF_ADDRESS=0x56034A5C
CONFIG_FREE_ADDRESS=0x56034DDC
CONFIG_PARTITION_READ_ADDRESS=0x5603FBE4
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x5603E778
