CONFIG_AMAZON_RADAR=y
CONFIG_APP_ADDRESS=0x4BD20F60
CONFIG_BOOTLOADER_BASE=0x4BD00000
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_BOOTLOADER_PARTITION_NAME="expdb"
CONFIG_BOOTLOADER_SIZE=0x3A644
CONFIG_BOOTMODE_ADDRESS=0x4BD4126C
CONFIG_DPRINTF_ADDRESS=0x4BD25C0C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4BD215D8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4BD2159C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4BD217A8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4BD21434
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4BD213AC
CONFIG_FREE_ADDRESS=0x4BD25EC4
CONFIG_IDMELIB_SUPPORT=y
CONFIG_INIT_STORAGE_ADDRESS=0x4BD1DD34
CONFIG_INIT_STORAGE_CALLER=0x4BD0FA40
CONFIG_USE_MT_PART_API=y
CONFIG_LK_LOG_STORE=n
CONFIG_LK_SIGNATURE_SIZE=0x104
CONFIG_MALLOC_ADDRESS=0x4BD265D0
CONFIG_MEDIATEK_MT8163=y
CONFIG_MISC_PARTITION_NAME="misc"
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4BD11200
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4BD1918C
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4BD190CC
CONFIG_PLATFORM_INIT_ADDRESS=0x4BD0FA14
CONFIG_PLATFORM_INIT_CALLER=0x4BD1F2BA
CONFIG_STORAGE_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4BD1F4E8
CONFIG_THREAD_RESUME_ADDRESS=0x4BD1F66C
CONFIG_THREAD_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4BD25BB2
