CONFIG_APP_ADDRESS=0x48022318
CONFIG_APP_CALLER=0x4801FD34
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xB8694
CONFIG_BOOTMODE_ADDRESS=0x480BB5F4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48022D00
CONFIG_FASTBOOT_INFO_ADDRESS=0x48022CA4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48022ECC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480229B0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48022974
CONFIG_LK_LOG_STORE_ADDRESS=0x48040580
CONFIG_MEDIATEK_MT6761=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x480046A4
CONFIG_LENOVO_AKITA_ROW_CALL=y
CONFIG_PLATFORM_INIT_ADDRESS=0x48002940
CONFIG_PLATFORM_INIT_CALLER=0x4801E610
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802F064
