CONFIG_APP_ADDRESS=0x48022D58
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBCEAC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x480237E0
CONFIG_FASTBOOT_INFO_ADDRESS=0x48023760
CONFIG_FASTBOOT_OKAY_ADDRESS=0x480239AC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480233EC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480233B0
CONFIG_LK_LOG_STORE_ADDRESS=0x4804091C
CONFIG_PLATFORM_INIT_ADDRESS=0x4800295C
CONFIG_PLATFORM_INIT_CALLER=0x4801EC40
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802E66C
CONFIG_LENOVO_AMAR_ROW_WIFI=y
CONFIG_MEDIATEK_MT6762=y
CONFIG_BOOTMODE_ADDRESS=0x480BF5F0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4802E95C
