CONFIG_APP_ADDRESS=0x48022DDC
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBCF9C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48023864
CONFIG_FASTBOOT_INFO_ADDRESS=0x480237E4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48023A30
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48023470
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48023434
CONFIG_LK_LOG_STORE_ADDRESS=0x480409A0
CONFIG_PLATFORM_INIT_ADDRESS=0x4800295C
CONFIG_PLATFORM_INIT_CALLER=0x4801ECC4
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802E6F0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4802E9E0
CONFIG_LENOVO_AMAR_ROW_LTE=y
CONFIG_MEDIATEK_MT6762=y
CONFIG_BOOTMODE_ADDRESS=0x480BF5F0
