CONFIG_APP_ADDRESS=0x48022600
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBCF9C
CONFIG_BOOTMODE_ADDRESS=0x480B45F0
CONFIG_DPRINTF_ADDRESS=0x4802D140
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48022ED0
CONFIG_FASTBOOT_INFO_ADDRESS=0x48022E74
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4802309C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48022B80
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48022B44
CONFIG_FREE_ADDRESS=0x4802D500
CONFIG_GET_ENV_ADDRESS=0x48044E3C
CONFIG_INIT_STORAGE_ADDRESS=0x48002760
CONFIG_INIT_STORAGE_CALLER=0x4800297C
CONFIG_LENOVO_AMAR_ROW_LTE=y
CONFIG_LK_LOG_STORE_ADDRESS=0x4803DCF8
CONFIG_MALLOC_ADDRESS=0x4802DD44
CONFIG_MEDIATEK_MT6762=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004A10
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x48044B8C
CONFIG_PARTITION_READ_ADDRESS=0x48045D40
CONFIG_PLATFORM_INIT_ADDRESS=0x4800294C
CONFIG_PLATFORM_INIT_CALLER=0x4801E8A8
CONFIG_SET_ENV_ADDRESS=0x480450F8
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802CE50