CONFIG_APP_ADDRESS=0x4C4247E0
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x42954C
CONFIG_BOOTMODE_ADDRESS=0x4C82C534
CONFIG_DPRINTF_ADDRESS=0x4C42EC74
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C425910
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C4258B4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C425ADC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C4255C0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C425584
CONFIG_FREE_ADDRESS=0x4C42F034
CONFIG_INIT_STORAGE_ADDRESS=0x4C402524
CONFIG_INIT_STORAGE_CALLER=0x4C402742
CONFIG_LK_LOG_STORE_ADDRESS=0x4C43F624
CONFIG_MALLOC_ADDRESS=0x4C419384
CONFIG_MEDIATEK_MT6768=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4043B8
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C445E10
CONFIG_PARTITION_READ_ADDRESS=0x4C446E0C
CONFIG_PLATFORM_INIT_ADDRESS=0x4C402714
CONFIG_PLATFORM_INIT_CALLER=0x4C42098C
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C421148
CONFIG_THREAD_RESUME_ADDRESS=0x4C42135C
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C42E984
CONFIG_VIVO_Y7S=y