CONFIG_APP_ADDRESS=0x4C42E0DC
CONFIG_APP_CALLER=0x4C42AC24
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x15FCDC
CONFIG_BOOTMODE_ADDRESS=0x4C56259C
CONFIG_DPRINTF_ADDRESS=0x4C441E28
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42ECB0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42EC30
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42EE7C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42E7DC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42E7A0
CONFIG_FREE_ADDRESS=0x4C442258
CONFIG_INIT_STORAGE_ADDRESS=0x4C4039EC
CONFIG_INIT_STORAGE_CALLER=0x4C403C8C
CONFIG_LEGACY_LK=n
CONFIG_LK_LOG_STORE_ADDRESS=0x4C456194
CONFIG_MALLOC_ADDRESS=0x4C442B24
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C405B34
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45CA64
CONFIG_PARTITION_READ_ADDRESS=0x4C45DDA8
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403C60
CONFIG_PLATFORM_INIT_CALLER=0x4C429580
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C429D3C
CONFIG_THREAD_RESUME_ADDRESS=0x4C429F50
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C4417C0
CONFIG_REALME_EVEN=y
CONFIG_MEDIATEK_MT6768=y
