CONFIG_APP_ADDRESS=0x4C4247B0
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x103934
CONFIG_BOOTMODE_ADDRESS=0x4C506528
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C4252A0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C425220
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42546C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C424EAC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C424E70
CONFIG_LK_LOG_STORE_ADDRESS=0x4C44370C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C40462C
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4027D0
CONFIG_PLATFORM_INIT_CALLER=0x4C4201E0
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C430C58
CONFIG_REALME_MONET=y
CONFIG_MEDIATEK_MT6768=y