CONFIG_APP_ADDRESS=0x4C42F304
CONFIG_APP_CALLER=0x4C42BE54
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x147A9C
CONFIG_BOOTMODE_ADDRESS=0x4C54A630
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42FED8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42FE58
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C4300A4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42FA04
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42F9C8
CONFIG_LK_LOG_STORE_ADDRESS=0x4C457CA0
CONFIG_MEDIATEK_MT6785=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C40669C
CONFIG_PLATFORM_INIT_ADDRESS=0x4C404888
CONFIG_PLATFORM_INIT_CALLER=0x4C42A7B0
CONFIG_REALME_NASHC=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C442F40