CONFIG_APP_ADDRESS=0x4C42581C
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x1169B0
CONFIG_BOOTMODE_ADDRESS=0x4C5195BC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42630C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42628C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C4264D8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C425F18
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C425EDC
CONFIG_MEDIATEK_MT6785=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4050F0
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4032D8
CONFIG_PLATFORM_INIT_CALLER=0x4C421274
CONFIG_REALME_NEMO=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C431F68