CONFIG_APP_CALLER=0x48022780
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x27BBC8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x480264C0
CONFIG_FASTBOOT_INFO_ADDRESS=0x48026464
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4802668C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48026170
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48026134
CONFIG_LK_LOG_STORE_ADDRESS=0x48042F60
CONFIG_PLATFORM_INIT_ADDRESS=0x48002C80
CONFIG_THREAD_CREATE_ADDRESS=0x48021818
CONFIG_THREAD_RESUME_ADDRESS=0x48021A2C
CONFIG_VIDEO_PRINTF_ADDRESS=0x48031FC8
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004f4c
CONFIG_APP_ADDRESS=0x48025bec
CONFIG_PLATFORM_INIT_CALLER=0x4802105c
CONFIG_BOOTMODE_ADDRESS=0x4827e9e8
CONFIG_REALME_RMX2180=y
CONFIG_MEDIATEK_MT6765=y
CONFIG_THREAD_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=n
CONFIG_FREE_ADDRESS=0x48032678
CONFIG_MALLOC_ADDRESS=0x48032ebc
CONFIG_PARTITION_READ_ADDRESS=0x4804b9f0
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4804a840
CONFIG_DPRINTF_ADDRESS=0x480322b8
CONFIG_INIT_STORAGE_CALLER=0x48002cb0
CONFIG_INIT_STORAGE_ADDRESS=0x480028e4

CONFIG_FRAMEBUFFER_SUPPORT=y
CONFIG_FRAMEBUFFER_ADDRESS=0x7b890000
CONFIG_FRAMEBUFFER_WIDTH=720
CONFIG_FRAMEBUFFER_HEIGHT=1600
CONFIG_FRAMEBUFFER_BPP=32
CONFIG_FRAMEBUFFER_ALIGNMENT=128
