CONFIG_APP_CALLER=0x4C422918
CONFIG_APP_ADDRESS=0x4C425604
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0X116590
CONFIG_BOOTMODE_ADDRESS=0x4C5195BC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C4260F4
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C426074
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C4262C0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C425D00
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C425CC4
CONFIG_LK_LOG_STORE_ADDRESS=0x4C444A60
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4050F0
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4032D8
CONFIG_PLATFORM_INIT_CALLER=0x4C421274
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C431D50
CONFIG_THREAD_CREATE_ADDRESS=0x4C421A30
CONFIG_THREAD_RESUME_ADDRESS=0x4C421C44
CONFIG_REALME_RMX2156_UI2=y
CONFIG_MEDIATEK_MT6785=y
CONFIG_THREAD_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=n
CONFIG_INIT_STORAGE_CALLER=0x4C40330C
CONFIG_INIT_STORAGE_ADDRESS=0x4C403004
CONFIG_FREE_ADDRESS=0x4C432470
CONFIG_DPRINTF_ADDRESS=0x4C432040
CONFIG_MALLOC_ADDRESS=0x4C432D48
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C44B564
CONFIG_PARTITION_READ_ADDRESS=0x4C44CB8C
CONFIG_FRAMEBUFFER_SUPPORT=y
CONFIG_FRAMEBUFFER_ADDRESS=0X78320000
CONFIG_FRAMEBUFFER_WIDTH=1080
CONFIG_FRAMEBUFFER_HEIGHT=2400
CONFIG_FRAMEBUFFER_BPP=32
CONFIG_FRAMEBUFFER_ALIGNMENT=64

