CONFIG_APP_CALLER=0x4C424C1C
CONFIG_APP_ADDRESS=0x4C42812C
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x12E3C4
CONFIG_BOOTMODE_ADDRESS=0x4C5315B4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C428C18
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C428B98
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C428DE4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C428824
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C4287E8
CONFIG_LK_LOG_STORE_ADDRESS=0x4C449AC8
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4053DC
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4035D4
CONFIG_PLATFORM_INIT_CALLER=0x4C423578
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C436498
CONFIG_THREAD_CREATE_ADDRESS=0x4C423D34
CONFIG_THREAD_RESUME_ADDRESS=0x4C423F48
CONFIG_REALME_RMX2156=y
CONFIG_MEDIATEK_MT6785=y
CONFIG_THREAD_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=n
CONFIG_INIT_STORAGE_CALLER=0x4C40360E
CONFIG_INIT_STORAGE_ADDRESS=0x4C4032C0
CONFIG_FREE_ADDRESS=0x4C436BB8
CONFIG_DPRINTF_ADDRESS=0x4C436788
CONFIG_MALLOC_ADDRESS=0x4C437484
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C450938
CONFIG_PARTITION_READ_ADDRESS=0x4C45211C
