CONFIG_APP_ADDRESS=0x4C42B634
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x135668
CONFIG_DPRINTF_ADDRESS=0x4C43E5BC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42C208
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42C188
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42C3D4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42BD34
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42BCF8
CONFIG_FREE_ADDRESS=0x4C43E9EC
CONFIG_INIT_STORAGE_CALLER=0x4C402BB2
CONFIG_LK_LOG_STORE_ADDRESS=0x4C452920
CONFIG_MALLOC_ADDRESS=0x4C43F2C4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4049CC
CONFIG_PARTITION_READ_ADDRESS=0x4C45A494
CONFIG_PLATFORM_INIT_ADDRESS=0x4C402B84
CONFIG_THREAD_CREATE_ADDRESS=0x4C427294
CONFIG_THREAD_RESUME_ADDRESS=0x4C4274A8
CONFIG_THREAD_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C43DF54
CONFIG_REALME_SPACED=y
CONFIG_MEDIATEK_MT6781=y
CONFIG_BOOTMODE_ADDRESS=0x4C5385A0
CONFIG_PLATFORM_INIT_CALLER=0x4C426AD8
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_SPOOF_SUPPORT=y
CONFIG_GET_ENV_ADDRESS=0x4C459598
CONFIG_SET_ENV_ADDRESS=0x4C4597B0
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=n
CONFIG_INIT_STORAGE_ADDRESS=0x4c402878
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4c458db0
