CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0xE03A0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48227E74
CONFIG_FASTBOOT_INFO_ADDRESS=0x48227DF4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48228040
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48227A80
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48227A44
CONFIG_FREE_ADDRESS=0x482350EC
CONFIG_LK_LOG_STORE_ADDRESS=0x482499D4
CONFIG_MALLOC_ADDRESS=0x48235AB0
CONFIG_PARTITION_READ_ADDRESS=0x482516C4
CONFIG_PLATFORM_INIT_ADDRESS=0x482026ec
CONFIG_PLATFORM_INIT_CALLER=0x482233a6
CONFIG_THREAD_CREATE_ADDRESS=0x48223B68
CONFIG_VIDEO_PRINTF_ADDRESS=0x482349C4
CONFIG_LAVA_LXX503=y
CONFIG_MEDIATEK_MT6833=y
CONFIG_BOOTMODE_ADDRESS=0x482e3598
CONFIG_APP_ADDRESS=0x482273b8
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4820448c
CONFIG_LEGACY_LK=n
CONFIG_INIT_STORAGE_ADDRESS=0x482025dc
CONFIG_INIT_STORAGE_CALLER=0x48202720
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x48250540
CONFIG_DPRINTF_ADDRESS=0x48234cb8
CONFIG_SPOOF_SUPPORT=y
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_GET_ENV_ADDRESS=0x48250864
CONFIG_SET_ENV_ADDRESS=0x48250a7c