CONFIG_APP_ADDRESS=0x48025DA0
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBFBFC
CONFIG_DPRINTF_ADDRESS=0x48031DF8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48026838
CONFIG_FASTBOOT_INFO_ADDRESS=0x480267DC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48026A04
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480264E8
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480264AC
CONFIG_FREE_ADDRESS=0x480321B8
CONFIG_INIT_STORAGE_CALLER=0x48002B70
CONFIG_LK_LOG_STORE_ADDRESS=0x480432E4
CONFIG_MALLOC_ADDRESS=0x480329FC
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004A78
CONFIG_PARTITION_READ_ADDRESS=0x4804B328
CONFIG_PLATFORM_INIT_ADDRESS=0x48002B40
CONFIG_THREAD_CREATE_ADDRESS=0x48022B1C
CONFIG_THREAD_RESUME_ADDRESS=0x48022D30
CONFIG_LAVA_T81N=y
CONFIG_MEDIATEK_MT6761=y
CONFIG_BOOTMODE_ADDRESS=0x480c25dc
CONFIG_PLATFORM_INIT_CALLER=0x48022360
CONFIG_VIDEO_PRINTF_ADDRESS=0x48031b10