CONFIG_APP_ADDRESS=0x4C427F28
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x111FCC
CONFIG_BOOTMODE_ADDRESS=0x4C514594
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C428928
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C4288A8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C428AF4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C428534
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C4284F8
CONFIG_LK_LOG_STORE_ADDRESS=0x4C449C3C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C40442C
CONFIG_PLATFORM_INIT_ADDRESS=0x4C40294C
CONFIG_PLATFORM_INIT_CALLER=0x4C424108
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C434EB8
CONFIG_BLACKVIEW_BV9200=y
CONFIG_MEDIATEK_MT6781=y