config OPPO_LEADE
    bool "Support Oppo A5s"
    default n
    help
      Say Y if you want to include support for Oppo A5s

config OPPO_CPH2015
    bool "Support OPPO A31"
    default n
    help
      Say Y if you want to include support for oppo A31

config OPPO_CPH2185
    bool "Support OPPO A15/A15s"
    default n
    help
      Say Y if you want to include support for oppo A15/A15s
