CONFIG_APP_ADDRESS=0x80038208
CONFIG_BOOTLOADER_BASE=0x80020000
CONFIG_BOOTLOADER_SIZE=0x3D144
CONFIG_BOOTMODE_ADDRESS=0x8006041C
CONFIG_BOOTSTRAP2_ADDRESS=0x80036EF0
CONFIG_DPRINTF_ADDRESS=0x8003B31C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x800384B0
CONFIG_FASTBOOT_INFO_ADDRESS=0x80038470
CONFIG_FASTBOOT_OKAY_ADDRESS=0x80038670
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x800382D4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x800382A0
CONFIG_FREE_ADDRESS=0x8003B614
CONFIG_INIT_STORAGE_ADDRESS=0x8002314C
CONFIG_INIT_STORAGE_CALLER=0x800206AE
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x8003BF54
CONFIG_MEDIATEK_MT6572=y
CONFIG_INNIOASIS_Y1=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x80029ED0
CONFIG_BOOTLOADER_PARTITION_NAME="UBOOT"
CONFIG_PLATFORM_INIT_CALLER=0x80036EF6
CONFIG_PLATFORM_INIT_ADDRESS=0x80020694
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x80022DF8
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x80022CBC
CONFIG_VIDEO_PRINTF_ADDRESS=0x8003B110
CONFIG_LEGACY_LK=y
# Doesn't work :(
CONFIG_STAGE1_SUPPORT=n
