CONFIG_APP_ADDRESS=0x4802222C
CONFIG_APP_CALLER=0x4801FABC
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xB9910
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48022D18
CONFIG_FASTBOOT_INFO_ADDRESS=0x48022C98
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48022EE4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48022924
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480228E8
CONFIG_MEDIATEK_MT6762=y
CONFIG_OUKITEL_LYRA=y
CONFIG_PLATFORM_INIT_ADDRESS=0x48002884
CONFIG_PLATFORM_INIT_CALLER=0x4801E418
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802C950