CONFIG_APP_ADDRESS=0x56025CD0
CONFIG_BOOTLOADER_BASE=0x56000000
CONFIG_BOOTLOADER_SIZE=0xBC70C
CONFIG_BOOTMODE_ADDRESS=0x560BF518
CONFIG_FASTBOOT_FAIL_ADDRESS=0x56026678
CONFIG_FASTBOOT_INFO_ADDRESS=0x560265F8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x56026844
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x56026284
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x56026248
CONFIG_LK_LOG_STORE_ADDRESS=0x56042EB4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x56004568
CONFIG_PLATFORM_INIT_ADDRESS=0x56002B7C
CONFIG_PLATFORM_INIT_CALLER=0x56021E5C
CONFIG_VIDEO_PRINTF_ADDRESS=0x56032224
CONFIG_OUKITEL_RT6=y
CONFIG_MEDIATEK_MT6771=y
