CONFIG_APP_ADDRESS=0x4822AB8C
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x15F288
CONFIG_BOOTMODE_ADDRESS=0x483625D4
CONFIG_DPRINTF_ADDRESS=0x4823D8C4
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822B66C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822B5EC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822B838
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822B198
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822B15C
CONFIG_FREE_ADDRESS=0x4823DCF8
CONFIG_GET_ENV_ADDRESS=0x4825AEBC
CONFIG_INIT_STORAGE_ADDRESS=0x48203710
CONFIG_INIT_STORAGE_CALLER=0x48203868
CONFIG_LK_LOG_STORE_ADDRESS=0x48253560
CONFIG_MALLOC_ADDRESS=0x4823E6BC
CONFIG_MEDIATEK_MT6877=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48205670
CONFIG_OUKITEL_WP56=y
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4825AB98
CONFIG_PARTITION_READ_ADDRESS=0x4825BD1C
CONFIG_PLATFORM_INIT_ADDRESS=0x48203834
CONFIG_PLATFORM_INIT_CALLER=0x48226C76
CONFIG_SET_ENV_ADDRESS=0x4825B0D4
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48227438
CONFIG_VIDEO_PRINTF_ADDRESS=0x4823D348