CONFIG_APP_ADDRESS=0x480380CC
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x14E12C
CONFIG_BOOTMODE_ADDRESS=0x481515E4
CONFIG_CERT_BYPASS=y
CONFIG_DPRINTF_ADDRESS=0x48042480
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4802DB90
CONFIG_FASTBOOT_INFO_ADDRESS=0x4802DB10
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4802DD5C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4802D8F4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4802D8B8
CONFIG_FREE_ADDRESS=0x480428D8
CONFIG_INIT_STORAGE_ADDRESS=0x48002A7C
CONFIG_INIT_STORAGE_CALLER=0x48002CC0
CONFIG_LK_LOG_STORE_ADDRESS=0x48068FD4
CONFIG_MALLOC_ADDRESS=0x48058814
CONFIG_MEDIATEK_MT6765=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x480050FC
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4806F7C4
CONFIG_PARTITION_READ_ADDRESS=0x48070A60
CONFIG_PLATFORM_INIT_ADDRESS=0x48002C70
CONFIG_PLATFORM_INIT_CALLER=0x4802C714
CONFIG_SAMSUNG_GTA7LITE=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4802CA98
CONFIG_THREAD_RESUME_ADDRESS=0x4802CC2C
CONFIG_VIDEO_PRINTF_ADDRESS=0x48042028