CONFIG_APP_ADDRESS=0x4602E264
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0xB1700
CONFIG_BOOTMODE_ADDRESS=0x460B4110
CONFIG_DPRINTF_ADDRESS=0x46034A7C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4602ECE8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4602EC84
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4602EE44
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4602EA94
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4602EA58
CONFIG_FREE_ADDRESS=0x46034E78
CONFIG_INIT_STORAGE_ADDRESS=0x46005B64
CONFIG_INIT_STORAGE_CALLER=0x4600203C
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE_ADDRESS=0x4600098C
CONFIG_MALLOC_ADDRESS=0x46035774
CONFIG_MEDIATEK_MT6757=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x460265D8
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x4600423C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x460048BC
CONFIG_PLATFORM_INIT_ADDRESS=0x46002000
CONFIG_PLATFORM_INIT_CALLER=0x460279CC
CONFIG_SONY_CANOPY=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x460347BC