CONFIG_APP_CALLER=0x46028E64
CONFIG_APP_ADDRESS=0x4602E264
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0xB1700
CONFIG_BOOTMODE_ADDRESS=0x460B4110
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4602ECE8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4602EC84
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4602EE44
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4602EA94
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4602EA58
CONFIG_MTK_DETECT_KEY_ADDRESS=0x460048BC
CONFIG_LK_LOG_STORE_ADDRESS=0x4600098C
CONFIG_PLATFORM_INIT_ADDRESS=0x46002000
CONFIG_PLATFORM_INIT_CALLER=0x460279CC
CONFIG_VIDEO_PRINTF_ADDRESS=0x460347BC
CONFIG_SONY_CANOPY=y
CONFIG_MEDIATEK_MT6757=y