CONFIG_APP_ADDRESS=0x48022B38
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xD9A0C
CONFIG_BOOTMODE_ADDRESS=0x480DC5E4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48023724
CONFIG_FASTBOOT_INFO_ADDRESS=0x480236A4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48023930
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48023330
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480232F4
CONFIG_LK_LOG_STORE_ADDRESS=0x48042AD8
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004E28
CONFIG_MEDIATEK_MT6761=y
CONFIG_NOKIA_WASP=y
CONFIG_PLATFORM_INIT_ADDRESS=0x48002BE0
CONFIG_PLATFORM_INIT_CALLER=0x4801EC64
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802FC58