CONFIG_APP_ADDRESS=0x48022B50
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_MESSAGE_SUPPORT=y
CONFIG_BOOTLOADER_SIZE=0xD9A3C
CONFIG_BOOTMODE_ADDRESS=0x480DC5E4
CONFIG_DPRINTF_ADDRESS=0x4802FF60
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_CMDLIST_ADDRESS=0x4817E048
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4802373C
CONFIG_FASTBOOT_INFO_ADDRESS=0x480236BC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48023948
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48023348
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4802330C
CONFIG_FREE_ADDRESS=0x48030390
CONFIG_GET_ENV_ADDRESS=0x48049550
CONFIG_INIT_STORAGE_ADDRESS=0x480029E0
CONFIG_INIT_STORAGE_CALLER=0x48002C10
CONFIG_LK_LOG_STORE_ADDRESS=0x48042AF0
CONFIG_MALLOC_ADDRESS=0x48030C18
CONFIG_MEDIATEK_MT6761=y
CONFIG_MISC_PARTITION_NAME="para"
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004E28
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x48063524
CONFIG_NOKIA_WASP=y
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x480492AC
CONFIG_PARTITION_READ_ADDRESS=0x4804A438
CONFIG_PLATFORM_INIT_ADDRESS=0x48002BE0
CONFIG_PLATFORM_INIT_CALLER=0x4801EC7C
CONFIG_RECOVERY_CMDLINE1_ADDRESS=0x480DEF78
CONFIG_RECOVERY_CMDLINE_PATCH=y
CONFIG_SET_ENV_ADDRESS=0x480497D4
CONFIG_SPOOF_SUPPORT=y
CONFIG_STORAGE_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802FC70
