CONFIG_APP_ADDRESS=0x56023E28
CONFIG_BOOTLOADER_BASE=0x56000000
CONFIG_BOOTLOADER_SIZE=0x91280
CONFIG_BOOTMODE_ADDRESS=0x560940E0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x56024EC0
CONFIG_FASTBOOT_INFO_ADDRESS=0x56024E40
CONFIG_FASTBOOT_OKAY_ADDRESS=0x5602508C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x56024B1C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x56024AE0
CONFIG_LK_LOG_STORE=n
CONFIG_MTK_DETECT_KEY_ADDRESS=0x56003908
CONFIG_PLATFORM_INIT_ADDRESS=0x56002374
CONFIG_PLATFORM_INIT_CALLER=0x56020B0C
CONFIG_VIDEO_PRINTF_ADDRESS=0x5602E9BC
CONFIG_JOYAR_100071483=y
CONFIG_MEDIATEK_MT8168=y
