config REALME_RMX2156
    bool "Support Realme Narzo 30 4G"
    default n
    help
      Say Y if you want to include support for Realme Narzo 30 4G

config REALME_EVEN
    bool "Support realme C25/s/Narzo 50A"
    default n
    help
      Say Y if you want to include support for realme C25/s/Narzo 50A
