CONFIG_APP_ADDRESS=0x6002BBB0
CONFIG_APP_CALLER=0x60028D80
CONFIG_BOOTLOADER_BASE=0x60000000
CONFIG_BOOTLOADER_SIZE=0x2514A4
CONFIG_BOOTMODE_ADDRESS=0x602545E4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x6002CA24
CONFIG_FASTBOOT_INFO_ADDRESS=0x6002C9D8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x6002CBF0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x6002C738
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x6002C6FC
CONFIG_LK_LOG_STORE_ADDRESS=0x60000AC8
CONFIG_PLATFORM_INIT_ADDRESS=0x60002C8C
CONFIG_PLATFORM_INIT_CALLER=0x60027904
CONFIG_VIDEO_PRINTF_ADDRESS=0x60033EE0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x60005C00
CONFIG_OPPO_A5S=y
CONFIG_MEDIATEK_MT6765=y