CONFIG_APP_ADDRESS=0x48026F50
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x13219C
CONFIG_BOOTMODE_ADDRESS=0x481359E8
CONFIG_DPRINTF_ADDRESS=0x48033018
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4802843C
CONFIG_FASTBOOT_INFO_ADDRESS=0x480283E0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48028608
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480280EC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480280B0
CONFIG_FRAMEBUFFER_ADDRESS=0x7B2B0000
CONFIG_FRAMEBUFFER_ALIGNMENT=128
CONFIG_FRAMEBUFFER_BPP=32
CONFIG_FRAMEBUFFER_HEIGHT=1600
CONFIG_FRAMEBUFFER_SUPPORT=y
CONFIG_FRAMEBUFFER_WIDTH=720
CONFIG_FREE_ADDRESS=0x480333D8
CONFIG_INIT_STORAGE_ADDRESS=0x480028E4
CONFIG_INIT_STORAGE_CALLER=0x48002A8E
CONFIG_LEGACY_LK=n
CONFIG_LK_LOG_STORE_ADDRESS=0x48043140
CONFIG_MALLOC_ADDRESS=0x48033CA0
CONFIG_MEDIATEK_MT6765=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004CE4
CONFIG_OPPO_CPH2015=y
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x48048328
CONFIG_PARTITION_READ_ADDRESS=0x4804945C
CONFIG_PLATFORM_INIT_ADDRESS=0x48002A60
CONFIG_PLATFORM_INIT_CALLER=0x48022BB8
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48023374
CONFIG_THREAD_RESUME_ADDRESS=0x48023588
CONFIG_THREAD_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x48032D28
