CONFIG_APP_ADDRESS=0x6002BBB0
CONFIG_BOOTLOADER_BASE=0x60000000
CONFIG_BOOTLOADER_SIZE=0x2514A4
CONFIG_BOOTMODE_ADDRESS=0x602545E4
CONFIG_DPRINTF_ADDRESS=0x60034184
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x6002CA24
CONFIG_FASTBOOT_INFO_ADDRESS=0x6002C9D8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x6002CBF0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x6002C738
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x6002C6FC
CONFIG_FREE_ADDRESS=0x6003453C
CONFIG_GET_ENV_ADDRESS=0x60006B08
CONFIG_INIT_STORAGE_ADDRESS=0x60002A14
CONFIG_INIT_STORAGE_CALLER=0x60002CBA
CONFIG_LEGACY_LK=n
CONFIG_LK_LOG_STORE_ADDRESS=0x60000AC8
CONFIG_MALLOC_ADDRESS=0x60034D80
CONFIG_MEDIATEK_MT6765=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x60005C00
CONFIG_OPPO_LEADE=y
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x60043FB0
CONFIG_PARTITION_READ_ADDRESS=0x60043FDC
CONFIG_PLATFORM_INIT_ADDRESS=0x60002C8C
CONFIG_PLATFORM_INIT_CALLER=0x60027904
CONFIG_SET_ENV_ADDRESS=0x60006DE0
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x60033EE0