CONFIG_APP_ADDRESS=0x4601D098
CONFIG_APP_CALLER=0x4601BEC8
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0xD9A0C
CONFIG_BOOTMODE_ADDRESS=0x46060500
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4601D4E0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4601D4A0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4601D6E8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4601D6A0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4601D870
CONFIG_LK_LOG_STORE=n
CONFIG_MTK_DETECT_KEY_ADDRESS=0x56005538
CONFIG_MEDIATEK_MT6750=y
CONFIG_MEIZU_M3NOTE=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x46004894
CONFIG_PLATFORM_INIT_ADDRESS=0x46001A7C
CONFIG_PLATFORM_INIT_CALLER=0x4601B206
CONFIG_VIDEO_PRINTF_ADDRESS=0x46023640