CONFIG_APP_CALLER=0x4601D47C
CONFIG_APP_ADDRESS=0x4601edd8
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0x63010
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4601f2d0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4601f490
CONFIG_FASTBOOT_INFO_ADDRESS=0x4601f288
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4601F0E4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4601F0A8
CONFIG_FREE_ADDRESS=0x46026C1C
CONFIG_LK_LOG_STORE=n
CONFIG_PLATFORM_INIT_ADDRESS=0x46001a38
CONFIG_PLATFORM_INIT_CALLER=0x4601c79e
CONFIG_INIT_STORAGE_ADDRESS=0x460057e0
CONFIG_INIT_STORAGE_CALLER=0x46001aaa
CONFIG_THREAD_CREATE_ADDRESS=0x4601C998
CONFIG_THREAD_RESUME_ADDRESS=0x4601CB2C
CONFIG_VIDEO_PRINTF_ADDRESS=0x46026674
CONFIG_DPRINTF_ADDRESS=0x460268f0
CONFIG_MEIZU_M711H=y
CONFIG_MEDIATEK_MT6755=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x46004544
CONFIG_MALLOC_ADDRESS=0x46027478
CONFIG_LEGACY_LK=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4601b81c
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x46004100
CONFIG_BOOTMODE_ADDRESS=0x46064510