CONFIG_APP_ADDRESS=0x46020954
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0x4E8D4
CONFIG_BOOTMODE_ADDRESS=0x46050518
CONFIG_DPRINTF_ADDRESS=0x460245F8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x46020DFC
CONFIG_FASTBOOT_INFO_ADDRESS=0x46020DB4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x46020FA4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x46020C10
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x46020BDC
CONFIG_FREE_ADDRESS=0x4602491C
CONFIG_INIT_STORAGE_ADDRESS=0x46008FBC
CONFIG_INIT_STORAGE_CALLER=0x4600531A
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x460251F4
CONFIG_MEDIATEK_MT6797=y
CONFIG_MEIZU_MX6=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x460078D0
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4600755C
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x460073F0
CONFIG_PLATFORM_INIT_ADDRESS=0x46005310
CONFIG_PLATFORM_INIT_CALLER=0x4601EA8A
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_RESUME_ADDRESS=0x4601EE04
CONFIG_VIDEO_PRINTF_ADDRESS=0x46024394