CONFIG_APP_ADDRESS=0x4822DCC4
CONFIG_APP_CALLER=0x4822B278
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0xF2A34
CONFIG_BOOTMODE_ADDRESS=0x482F5598
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822E67C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822E5D4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822E858
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822E260
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822E224
CONFIG_LK_LOG_STORE_ADDRESS=0x4824F66C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48204614
CONFIG_PLATFORM_INIT_ADDRESS=0x482026B0
CONFIG_PLATFORM_INIT_CALLER=0x48229B62
CONFIG_VIDEO_PRINTF_ADDRESS=0x4823AE90
CONFIG_INFINIX_X666=y
CONFIG_MEDIATEK_MT6833=y
