CONFIG_APP_CALLER=0x4C4267AC
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x109500
CONFIG_DPRINTF_ADDRESS=0x4C436704
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C429C18
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C429B70
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C429DF4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C4297FC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C4297C0
CONFIG_FREE_ADDRESS=0x4C436B34
CONFIG_INIT_STORAGE_CALLER=0x4C4028C2
CONFIG_LK_LOG_STORE_ADDRESS=0x4C44B3CC
CONFIG_MALLOC_ADDRESS=0x4C43740C
CONFIG_PARTITION_READ_ADDRESS=0x4C453174
CONFIG_PLATFORM_INIT_ADDRESS=0x4C402894
CONFIG_THREAD_CREATE_ADDRESS=0x4C4258C4
CONFIG_THREAD_RESUME_ADDRESS=0x4C425AD8
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C4362E4
CONFIG_INFINIX_X670=y
CONFIG_MEDIATEK_MT6781=y
