CONFIG_APP_ADDRESS=0x4C429238
CONFIG_APP_CALLER=0x4C4267AC
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x109500
CONFIG_BOOTMODE_ADDRESS=0x4C50C5A0
CONFIG_DPRINTF_ADDRESS=0x4C436704
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_CONTINUE=0x4C42AEE8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C429C18
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C429B70
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C429DF4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C4297FC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C4297C0
CONFIG_FRAMEBUFFER_ADDRESS=0x76C10000
CONFIG_FRAMEBUFFER_ALIGNMENT=64
CONFIG_FRAMEBUFFER_BPP=32
CONFIG_FRAMEBUFFER_HEIGHT=2400
CONFIG_FRAMEBUFFER_SUPPORT=n
CONFIG_FRAMEBUFFER_WIDTH=1080
CONFIG_FREE_ADDRESS=0x4C436B34
CONFIG_GET_ENV_ADDRESS=0x4C45231C
CONFIG_INFINIX_X670=y
CONFIG_INIT_STORAGE_ADDRESS=0x4C402640
CONFIG_INIT_STORAGE_CALLER=0x4C4028C2
CONFIG_LEGACY_LK=n
CONFIG_LK_LOG_STORE_ADDRESS=0x4C44B3CC
CONFIG_MALLOC_ADDRESS=0x4C43740C
CONFIG_MEDIATEK_MT6781=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C404410
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C451FF8
CONFIG_PARTITION_READ_ADDRESS=0x4C453174
CONFIG_PLATFORM_INIT_ADDRESS=0x4C402894
CONFIG_PLATFORM_INIT_CALLER=0x4C425108
CONFIG_SET_ENV_ADDRESS=0x4C452534
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C4362E4
