CONFIG_APP_ADDRESS=0x4822DDE0
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x12388C
CONFIG_CERT_BYPASS=y
CONFIG_BOOTMODE_ADDRESS=0x4830C5A0
CONFIG_DPRINTF_ADDRESS=0x4823BB74
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_GET_ENV_ADDRESS=0
CONFIG_SET_ENV_ADDRESS=0
CONFIG_FASTBOOT_CONTINUE=0x4822FC14
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822E834
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822E78C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822EA10
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822E418
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822E3DC
CONFIG_FRAMEBUFFER_SUPPORT=n
CONFIG_FREE_ADDRESS=0x4823BFA4
CONFIG_INFINIX_X6739=y
CONFIG_INIT_STORAGE_ADDRESS=0
CONFIG_INIT_STORAGE_CALLER=0
CONFIG_LEGACY_LK=n
CONFIG_LK_LOG_STORE=y
CONFIG_LK_LOG_STORE_ADDRESS=0x482518F0
CONFIG_MALLOC_ADDRESS=0x4823C870
CONFIG_MEDIATEK_MT6781=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0
CONFIG_PARTITION_READ_ADDRESS=0x4825A19C
CONFIG_PLATFORM_INIT_ADDRESS=0x4820356C
CONFIG_PLATFORM_INIT_CALLER=0x48229C24
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=n
CONFIG_THREAD_CREATE_ADDRESS=0x4822A464
CONFIG_THREAD_RESUME_ADDRESS=0x4822A678
CONFIG_VIDEO_PRINTF_ADDRESS=0x4823B754

