CONFIG_APP_ADDRESS=0x4822BA94
CONFIG_APP_CALLER=0x48228FE4
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_PARTITION_NAME="lk"
CONFIG_BOOTLOADER_SIZE=0x14A8B8
CONFIG_BOOTMODE_ADDRESS=0x4834D5D4
CONFIG_DPRINTF_ADDRESS=0x482393D8
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_CONTINUE_ADDRESS=0x4822D804
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822C454
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822C3AC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822C630
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822C038
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822BFFC
CONFIG_FREE_ADDRESS=0x4823980C
CONFIG_GET_ENV_ADDRESS=0x48256734
CONFIG_INIT_STORAGE_ADDRESS=0x48203758
CONFIG_INIT_STORAGE_CALLER=0x482038A8
CONFIG_INFINIX_X6815D=y
CONFIG_LEGACY_LK=n
CONFIG_LK_LOG_STORE=y
CONFIG_LK_LOG_STORE_ADDRESS=0x4824EF14
CONFIG_MALLOC_ADDRESS=0x4823A1D0
CONFIG_MEDIATEK_MT6877=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48205974
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x48255D8C
CONFIG_PARTITION_READ_ADDRESS=0x48257694
CONFIG_PLATFORM_INIT_ADDRESS=0x48203868
CONFIG_PLATFORM_INIT_CALLER=0x482278CE
CONFIG_SET_ENV_ADDRESS=0x4825694C
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48228114
CONFIG_THREAD_RESUME_ADDRESS=0x4822832C
CONFIG_THREAD_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x48238FB4
