CONFIG_APP_ADDRESS=0x480230D0
CONFIG_APP_CALLER=0x48020290
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x12247C
CONFIG_BOOTMODE_ADDRESS=0x481255E0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x480244F4
CONFIG_FASTBOOT_INFO_ADDRESS=0x48024498
CONFIG_FASTBOOT_OKAY_ADDRESS=0x480246C0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480241A4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48024168
CONFIG_LK_LOG_STORE_ADDRESS=0x480406A0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004B14
CONFIG_PLATFORM_INIT_ADDRESS=0x48002954
CONFIG_PLATFORM_INIT_CALLER=0x4801EB58
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802F10C
CONFIG_ALCATEL_5028Y=y
CONFIG_MEDIATEK_MT6765=y
