menu "Device Support"

source "board/amazon/Kconfig"
source "board/bq/Kconfig"
source "board/digit/Kconfig"
source "board/energy/Kconfig"
source "board/honor/Kconfig"
source "board/huawei/Kconfig"
source "board/infinix/Kconfig"
source "board/lenovo/Kconfig"
source "board/lg/Kconfig"
source "board/meizu/Kconfig"
source "board/motorola/Kconfig"
source "board/nokia/Kconfig"
source "board/nuu/Kconfig"
source "board/oppo/Kconfig"
source "board/oukitel/Kconfig"
source "board/realme/Kconfig"
source "board/samsung/Kconfig"
source "board/sony/Kconfig"
source "board/tdtech/Kconfig"
source "board/tecno/Kconfig"
source "board/vivo/Kconfig"
source "board/xiaomi/Kconfig"

endmenu
