config BQ_AQUARIS_M8
    bool "Support BQ Aquaris M8"
    default n
    help
      Say Y if you want to include support for BQ Aquaris M8

config BQ_KAITO
    bool "Support BQ Aquaris E10 3G"
    default n
    help
      Say Y if you want to include support for BQ Aquaris E10 3G
