CONFIG_APP_ADDRESS=0x48021FB8
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xADAD8
CONFIG_BOOTMODE_ADDRESS=0x480B05DC
CONFIG_DPRINTF_ADDRESS=0x4802C2B4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48022948
CONFIG_FASTBOOT_INFO_ADDRESS=0x480228EC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48022B14
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480225F8
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480225BC
CONFIG_FREE_ADDRESS=0x4802C674
CONFIG_INIT_STORAGE_CALLER=0x48002970
CONFIG_LK_LOG_STORE_ADDRESS=0x4803D5B0
CONFIG_MALLOC_ADDRESS=0x48006D04
CONFIG_MTK_DETECT_KEY_ADDRESS=0x480045A0
CONFIG_PARTITION_READ_ADDRESS=0x480455F8
CONFIG_PLATFORM_INIT_ADDRESS=0x48002940
CONFIG_PLATFORM_INIT_CALLER=0x4801E640
CONFIG_THREAD_CREATE_ADDRESS=0x4801EDFC
CONFIG_THREAD_RESUME_ADDRESS=0x4801F010
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802BFC4
CONFIG_NUU_N5004LA=y
CONFIG_MEDIATEK_MT6765=y
