CONFIG_APP_ADDRESS=0x81E17290
CONFIG_BOOTLOADER_BASE=0x81E00000
CONFIG_BOOTLOADER_SIZE=0x3EFC4
CONFIG_BOOTMODE_ADDRESS=0x81E404DC
CONFIG_BOOTSTRAP2_ADDRESS=0x81E15464
CONFIG_FASTBOOT_FAIL_ADDRESS=0x81E177DC
CONFIG_FASTBOOT_INFO_ADDRESS=0x81E17798
CONFIG_FASTBOOT_OKAY_ADDRESS=0x81E17960
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x81E17568
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x81E175A8
CONFIG_LK_LOG_STORE=n
CONFIG_NUU_NUU_A1=y
CONFIG_MEDIATEK_MT6580=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x81E03970
CONFIG_PLATFORM_INIT_CALLER=0x81E1546A
CONFIG_PLATFORM_INIT_ADDRESS=0x81E01438
CONFIG_VIDEO_PRINTF_ADDRESS=0x81E1B860
CONFIG_LEGACY_LK=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_INIT_STORAGE_ADDRESS=0x81E049E4
CONFIG_INIT_STORAGE_CALLER=0x81E0149A
CONFIG_MALLOC_ADDRESS=0x81E1C5FC
CONFIG_FREE_ADDRESS=0x81E1BDBC
CONFIG_DPRINTF_ADDRESS=0x81E1BABC
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x81E14258
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x81E140D0
