CONFIG_APP_ADDRESS=0x48025154
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBDB5C
CONFIG_BOOTMODE_ADDRESS=0x480C05D8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48026208
CONFIG_FASTBOOT_INFO_ADDRESS=0x480261AC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x480263D4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48025EB8
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48025E7C
CONFIG_LK_LOG_STORE_ADDRESS=0x48040078
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004624
CONFIG_PLATFORM_INIT_ADDRESS=0x480027A0
CONFIG_PLATFORM_INIT_CALLER=0x48020824
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802FF2C
CONFIG_ZTE_P662F02=y
CONFIG_MEDIATEK_MT6762=y