CONFIG_APP_ADDRESS=0x4C42A0DC
CONFIG_APP_CALLER=0x4C42794C
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x121314
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42AB7C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42AAFC
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42AD48
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A788
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A74C
CONFIG_MEDIATEK_MT6768=y
CONFIG_MOTOROLA_FOGOROW=y
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4039B4
CONFIG_PLATFORM_INIT_CALLER=0x4C4262A8
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C43BF60