CONFIG_APP_ADDRESS=0x4801F2BC
CONFIG_APP_CALLER=0x4801C9CC
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xD4FF0
CONFIG_BOOTMODE_ADDRESS=0x480D75E4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4801FE34
CONFIG_FASTBOOT_INFO_ADDRESS=0x4801FDB4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x480200B0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4801FA90
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4801FA54
CONFIG_LK_LOG_STORE_ADDRESS=0x48041088
CONFIG_MTK_DETECT_KEY_ADDRESS=0x480045D4
CONFIG_PLATFORM_INIT_ADDRESS=0x480028FC
CONFIG_PLATFORM_INIT_CALLER=0x4801BA98
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802DD2C
CONFIG_NOKIA_IRONMAN=y
CONFIG_MEDIATEK_MT6761=y