CONFIG_APP_ADDRESS=0x4803370C
CONFIG_APP_CALLER=0x4802B8B0
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x198B4C
CONFIG_BOOTMODE_ADDRESS=0x4819C004
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48033EE4
CONFIG_FASTBOOT_INFO_ADDRESS=0x48033E88
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4803405C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48033BE4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48033BA8
CONFIG_LK_LOG_STORE_ADDRESS=0x480746A4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48011588
CONFIG_PLATFORM_INIT_ADDRESS=0x4800F630
CONFIG_PLATFORM_INIT_CALLER=0x4802A974
CONFIG_VIDEO_PRINTF_ADDRESS=0x4805EED4
CONFIG_HUAWEI_KOBE2LTE=y
CONFIG_MEDIATEK_MT6765=y
