CONFIG_APP_CALLER=0x4C427950
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x157AAC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42ABA8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42AB28
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42AD74
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A6D4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A698
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4593F0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4054F8
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403944
CONFIG_PLATFORM_INIT_CALLER=0x4C4262AC
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C443730
CONFIG_MOTOROLA_LAMU=y
CONFIG_MEDIATEK_MT6768=y
