CONFIG_APP_ADDRESS=0x4C4523B4
CONFIG_APP_CALLER=0x4C44D804
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x17DBCC
CONFIG_BOOTMODE_ADDRESS=0x4c6807f0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C453130
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C4530B0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C453300
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C452D3C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C452D00
CONFIG_LK_LOG_STORE_ADDRESS=0x4C473D8C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C42BE5C
CONFIG_PLATFORM_INIT_ADDRESS=0x4C42A5C4
CONFIG_PLATFORM_INIT_CALLER=0x4c44c160
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C45F094
CONFIG_VOLLA_MIMAMEID=y
CONFIG_MEDIATEK_MT6768=y
