CONFIG_APP_CALLER=0x48024338
CONFIG_APP_ADDRESS=0x48026F0C
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x26F008
CONFIG_BOOTMODE_ADDRESS=0x482729E8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4802832C
CONFIG_FASTBOOT_INFO_ADDRESS=0x480282D0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x480284F8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48027FDC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48027FA0
CONFIG_MEDIATEK_MT6765=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004D14
CONFIG_LK_LOG_STORE_ADDRESS=0x48042EC0
CONFIG_OPPO_OP4BFB=y
CONFIG_PLATFORM_INIT_ADDRESS=0x48002A60
CONFIG_PLATFORM_INIT_CALLER=0x48022C14
CONFIG_VIDEO_PRINTF_ADDRESS=0x48032AA8