CONFIG_APP_ADDRESS=0x4C42CF94
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x189680
CONFIG_BOOTMODE_ADDRESS=0x4C599634
CONFIG_DPRINTF_ADDRESS=0x4C441B40
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42DD34
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42DB94
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42DFF0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42D740
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42D704
CONFIG_FREE_ADDRESS=0x4C441F70
CONFIG_GET_ENV_ADDRESS=0x4C45E460
CONFIG_INIT_STORAGE_ADDRESS=0x4C404264
CONFIG_INIT_STORAGE_CALLER=0x4C4046AC
CONFIG_LK_LOG_STORE_ADDRESS=0x4C45659C
CONFIG_MALLOC_ADDRESS=0x4C442848
CONFIG_MEDIATEK_MT6785=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4062F0
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45E13C
CONFIG_PARTITION_READ_ADDRESS=0x4C45F3B4
CONFIG_PLATFORM_INIT_ADDRESS=0x4C40467C
CONFIG_PLATFORM_INIT_CALLER=0x4C427F70
CONFIG_SET_ENV_ADDRESS=0x4C45E678
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C42F37C
CONFIG_XIAOMI_ROSEMARY=y