CONFIG_APP_ADDRESS=0x56024ED0
CONFIG_APP_CALLER=0x56022898
CONFIG_BOOTLOADER_BASE=0x56000000
CONFIG_BOOTLOADER_SIZE=0xB0658
CONFIG_BOOTMODE_ADDRESS=0x560B352C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x56025870
CONFIG_FASTBOOT_INFO_ADDRESS=0x560257F0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x56025A3C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x5602547C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x56025440
CONFIG_LK_LOG_STORE_ADDRESS=0x5603FDF8
CONFIG_FPLUS_T1100=y
CONFIG_MEDIATEK_MT6771=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x56004588
CONFIG_PLATFORM_INIT_ADDRESS=0x56002D10
CONFIG_PLATFORM_INIT_CALLER=0x560211F4
CONFIG_VIDEO_PRINTF_ADDRESS=0x560302B4