CONFIG_APP_ADDRESS=0x4C42C474
CONFIG_APP_CALLER=0x4C429A28
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x108B0C
CONFIG_BOOTMODE_ADDRESS=0x4C50B590
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42CE18
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42CD98
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42D624
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42CA24
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42C9E8
CONFIG_LK_LOG_STORE_ADDRESS=0x4C44BB3C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4054A0
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403700
CONFIG_PLATFORM_INIT_CALLER=0x4C428384
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C43858C
CONFIG_INFINIX_X6812=y
CONFIG_MEDIATEK_MT6768=y
CONFIG_FORCE_INJECT_ADDR=0x4C4CFCD0
