CONFIG_APP_ADDRESS=0x4601E1C0
CONFIG_APP_CALLER=0x4601CB78
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0x700A8
CONFIG_BOOTMODE_ADDRESS=0x46071500
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4601E610
CONFIG_FASTBOOT_INFO_ADDRESS=0x4601E5C8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4601E7DC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4601E424
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4601E3E8
CONFIG_LK_LOG_STORE=n
CONFIG_PLATFORM_INIT_ADDRESS=0x460016B8
CONFIG_PLATFORM_INIT_CALLER=0x4601BE9A
CONFIG_VIDEO_PRINTF_ADDRESS=0x460220B0
CONFIG_ENERGY_ADAD=y
CONFIG_MEDIATEK_MT6750=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x46003EF0