CONFIG_APP_ADDRESS=0x4601E388
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0x700A8
CONFIG_BOOTMODE_ADDRESS=0x46086500
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4601E818
CONFIG_FASTBOOT_INFO_ADDRESS=0x4601E7D0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4601E9E4
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4601E62C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4601E5F0
CONFIG_LK_LOG_STORE=n
CONFIG_PLATFORM_INIT_ADDRESS=0x460016B8
CONFIG_PLATFORM_INIT_CALLER=0x4601BE9A
CONFIG_VIDEO_PRINTF_ADDRESS=0x46023084
CONFIG_ENERGY_ADAD=y
CONFIG_MEDIATEK_MT6750=y
CONFIG_LEGACY_LK=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x46003EF0
CONFIG_FREE_ADDRESS=0x4602361C
CONFIG_MALLOC_ADDRESS=0x46023E78
CONFIG_DPRINTF_ADDRESS=0x460232F0
CONFIG_INIT_STORAGE_ADDRESS=0x46005080
CONFIG_INIT_STORAGE_CALLER=0x460016B8
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x4601AF18
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x46003AAC