CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=y
CONFIG_USE_PMT_PARTITION=y
CONFIG_BOOTLOADER_BASE=0x80020000
CONFIG_BOOTLOADER_SIZE=0x453CC
CONFIG_BOOTLOADER_PARTITION_NAME="UBOOT"
CONFIG_MEDIATEK_MT6572=y
CONFIG_ENERGY_PHONE_COLORS=y
CONFIG_LK_LOG_STORE=n
CONFIG_APP_ADDRESS=0x8002DB08
CONFIG_BOOTMODE_ADDRESS=0x80068418
CONFIG_DPRINTF_ADDRESS=0x80030C8C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x8002DE14
CONFIG_FASTBOOT_INFO_ADDRESS=0x8002DDD0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x8002DFAC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x8002DC1C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x8002DBDC
CONFIG_FREE_ADDRESS=0x80030990
CONFIG_INIT_STORAGE_ADDRESS=0x80023278
CONFIG_INIT_STORAGE_CALLER=0x800206A6
CONFIG_MALLOC_ADDRESS=0x800312A4
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x80022EF0
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x80022DC0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x80029EF0
CONFIG_PLATFORM_INIT_ADDRESS=0x8002068C
CONFIG_PLATFORM_INIT_CALLER=0x8002C71E
CONFIG_VIDEO_PRINTF_ADDRESS=0x80030444