CONFIG_APP_CALLER=0x48022838
CONFIG_APP_ADDRESS=0x480251DC
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xF87E8
CONFIG_BOOTMODE_ADDRESS=0x480FB5D0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48025B14
CONFIG_FASTBOOT_INFO_ADDRESS=0x48025A94
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48025D48
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48025720
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480256E4
CONFIG_LK_LOG_STORE_ADDRESS=0x48049250
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004C68
CONFIG_PLATFORM_INIT_ADDRESS=0x48002C88
CONFIG_PLATFORM_INIT_CALLER=0x48021194
CONFIG_VIDEO_PRINTF_ADDRESS=0x48034CDC
CONFIG_MOTOROLA_BORAG=y
CONFIG_MEDIATEK_MT6765=y
