CONFIG_APP_ADDRESS=0x480251DC
CONFIG_APP_CALLER=0x48022838
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xF87F0
CONFIG_BOOTMODE_ADDRESS=0x480FB5D0
CONFIG_DPRINTF_ADDRESS=0x48034FD8
CONFIG_FASTBOOT_CONTINUE_ADDRESS=0x48026E0C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48025B14
CONFIG_FASTBOOT_INFO_ADDRESS=0x48025A94
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48025D48
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48025720
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480256E4
CONFIG_FREE_ADDRESS=0x48035408
CONFIG_INIT_STORAGE_ADDRESS=0x48002AA0
CONFIG_INIT_STORAGE_CALLER=0x48002CBE
CONFIG_LK_LOG_STORE_ADDRESS=0x48049250
CONFIG_MALLOC_ADDRESS=0x48035C90
CONFIG_MEDIATEK_MT6765=y
CONFIG_MOTOROLA_BORAGO=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004C68
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4804FD44
CONFIG_PARTITION_READ_ADDRESS=0x48050FE0
CONFIG_PLATFORM_INIT_ADDRESS=0x48002C88
CONFIG_PLATFORM_INIT_CALLER=0x48021194
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48021950
CONFIG_THREAD_RESUME_ADDRESS=0x48021B64
CONFIG_VIDEO_PRINTF_ADDRESS=0x48034CDC
