CONFIG_APP_ADDRESS=0x48024CD8
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xCC1F8
CONFIG_BOOTMODE_ADDRESS=0x480CF5CC
CONFIG_DPRINTF_ADDRESS=0x48032A88
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48025C50
CONFIG_FASTBOOT_INFO_ADDRESS=0x48025BD0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48025EF8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4802585C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48025820
CONFIG_FREE_ADDRESS=0x48032EB8
CONFIG_INIT_STORAGE_ADDRESS=0x48002A14
CONFIG_INIT_STORAGE_CALLER=0x48002C32
CONFIG_LK_LOG_STORE_ADDRESS=0x48046C48
CONFIG_MALLOC_ADDRESS=0x48033700
CONFIG_MEDIATEK_MT6765=y
CONFIG_MOTOROLA_HAWAIIP=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4800502C
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4804D720
CONFIG_PARTITION_READ_ADDRESS=0x4804E84C
CONFIG_PLATFORM_INIT_ADDRESS=0x48002BFC
CONFIG_PLATFORM_INIT_CALLER=0x48020B74
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x480325C0