CONFIG_APP_ADDRESS=0x4C42D794
CONFIG_APP_CALLER=0x4C427AB4
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x17B1F4
CONFIG_BOOTMODE_ADDRESS=0x4C57E59C
CONFIG_DPRINTF_ADDRESS=0x4C4433BC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42E348
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42E2C8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42E514
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42DD38
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42DCFC
CONFIG_FREE_ADDRESS=0x4C443870
CONFIG_INIT_STORAGE_ADDRESS=0x4C40381C
CONFIG_INIT_STORAGE_CALLER=0x4C403A3C
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4589D0
CONFIG_MALLOC_ADDRESS=0x4C444184
CONFIG_MEDIATEK_MT6768=y
CONFIG_MOTOROLA_LAGOS=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4055A8
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45F658
CONFIG_PARTITION_READ_ADDRESS=0x4C4608F8
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403A0C
CONFIG_PLATFORM_INIT_CALLER=0x4C4263EC
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C426BCC
CONFIG_THREAD_RESUME_ADDRESS=0x4C426DE0
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C442D74