CONFIG_APP_ADDRESS=0x4C42A1C0
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x16F23C
CONFIG_BOOTMODE_ADDRESS=0x4C5725A0
CONFIG_DPRINTF_ADDRESS=0x4C4431FC
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42ACA8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42AC28
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42AE74
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A7D4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A798
CONFIG_FREE_ADDRESS=0x4C44362C
CONFIG_GET_ENV_ADDRESS=0x4C45F86C
CONFIG_INIT_STORAGE_ADDRESS=0x4C403754
CONFIG_INIT_STORAGE_CALLER=0x4C403974
CONFIG_LK_LOG_STORE_ADDRESS=0x4C458900
CONFIG_MALLOC_ADDRESS=0x4C443F38
CONFIG_MEDIATEK_MT6768=y
CONFIG_MOTOROLA_LAMUC=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4054FC
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45F548
CONFIG_PARTITION_READ_ADDRESS=0x4C4607E8
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403944
CONFIG_PLATFORM_INIT_CALLER=0x4C42634C
CONFIG_SET_ENV_ADDRESS=0x4C45FA84
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C426B08
CONFIG_THREAD_RESUME_ADDRESS=0x4C426D1C
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C442BC8
