CONFIG_APP_ADDRESS=0x4C42A1C0
CONFIG_APP_CALLER=0x4C4279F8
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x1303C4
CONFIG_BOOTMODE_ADDRESS=0x4C53359C
CONFIG_DPRINTF_ADDRESS=0x4C43DBE0
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42AC30
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42ABB0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42ADFC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A83C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A800
CONFIG_FREE_ADDRESS=0x4C43E010
CONFIG_GET_ENV_ADDRESS=0x4C459D9C
CONFIG_INIT_STORAGE_ADDRESS=0x4C4037C4
CONFIG_INIT_STORAGE_CALLER=0x4C4039E4
CONFIG_LK_LOG_STORE_ADDRESS=0x4C452EA4
CONFIG_MALLOC_ADDRESS=0x4C43E91C
CONFIG_MEDIATEK_MT6768=y
CONFIG_MOTOROLA_LAMULG=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C405550
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C459A78
CONFIG_PARTITION_READ_ADDRESS=0x4C45AD18
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4039B4
CONFIG_PLATFORM_INIT_CALLER=0x4C426354
CONFIG_SET_ENV_ADDRESS=0x4C459FB4
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C43D6C4
