CONFIG_APP_ADDRESS=0x4C42A1C8
CONFIG_APP_CALLER=0x4C4279F8
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x157AAC
CONFIG_BOOTMODE_ADDRESS=0x4C59C5A0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42ACB0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42AC30
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42AE7C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A7DC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A7A0
CONFIG_FRAMEBUFFER_ADDRESS=0x76F20000
CONFIG_FRAMEBUFFER_ALIGNMENT=64
CONFIG_FRAMEBUFFER_BPP=32
CONFIG_FRAMEBUFFER_HEIGHT=2400
CONFIG_FRAMEBUFFER_SUPPORT=y
CONFIG_FRAMEBUFFER_WIDTH=1080
CONFIG_FORCE_INJECT_ADDR=0x4C5183C0
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4596C4
CONFIG_MEDIATEK_MT6768=y
CONFIG_MOTOROLA_LAMU=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4054FC
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403944
CONFIG_PLATFORM_INIT_CALLER=0x4C426354
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C443994