CONFIG_APP_ADDRESS=0x4802343C
CONFIG_APP_CALLER=0x48020D40
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xE03F8
CONFIG_BOOTMODE_ADDRESS=0x480E35DC
CONFIG_BOOTSTRAP2_ADDRESS=0x4801F56C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48023C10
CONFIG_FASTBOOT_INFO_ADDRESS=0x48023BB4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48023DDC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x480238C0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48023884
CONFIG_LK_LOG_STORE_ADDRESS=0x48042D40
CONFIG_MEDIATEK_MT6762=y
CONFIG_MOTOROLA_MALTA_64=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004998
CONFIG_PLATFORM_INIT_ADDRESS=0x480029C0
CONFIG_PLATFORM_INIT_CALLER=0x4801F61C
CONFIG_VIDEO_PRINTF_ADDRESS=0x48031704
CONFIG_FORCE_INJECT_ADDR=0x480C2FF0
