CONFIG_APP_ADDRESS=0x480234B0
CONFIG_APP_CALLER=0x48020D90
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xE4CFC
CONFIG_BOOTMODE_ADDRESS=0x480E75DC
CONFIG_BOOTSTRAP2_ADDRESS=0x4801F634
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48023C84
CONFIG_FASTBOOT_INFO_ADDRESS=0x48023C28
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48023E50
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48023934
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480238F8
CONFIG_LK_LOG_STORE_ADDRESS=0x480431A4
CONFIG_MEDIATEK_MT6762=y
CONFIG_MOTOROLA_MALTA_L=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004998
CONFIG_PLATFORM_INIT_ADDRESS=0x480029C0
CONFIG_PLATFORM_INIT_CALLER=0x4801F66C
CONFIG_VIDEO_PRINTF_ADDRESS=0x48031B94
CONFIG_FORCE_INJECT_ADDR=0x480C2FF0
