CONFIG_APP_ADDRESS=0x4824B49C
CONFIG_BOOTMODE_ADDRESS=0x4840C30C
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x208C9C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4824BE8C
CONFIG_FASTBOOT_INFO_ADDRESS=0x4824BE0C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4824C008
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4824BA24
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4824B9E8
CONFIG_LK_LOG_STORE_ADDRESS=0x4827CB04
CONFIG_VIDEO_PRINTF_ADDRESS=0x48260434
CONFIG_HONOR_CARTIER5G=y
CONFIG_MEDIATEK_MT6833=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48215C60
CONFIG_PLATFORM_INIT_ADDRESS=0x482140A4
CONFIG_PLATFORM_INIT_CALLER=0x4824087A