CONFIG_APP_ADDRESS=0x4824C4FC
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x244CA0
CONFIG_BOOTMODE_ADDRESS=0x48448330
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4824CE30
CONFIG_FASTBOOT_INFO_ADDRESS=0x4824CDB0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4824CFA8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4824C9C8
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4824C98C
CONFIG_LK_LOG_STORE_ADDRESS=0x4827B6A8
CONFIG_VIDEO_PRINTF_ADDRESS=0x4825FE94
CONFIG_HONOR_GINA=y
CONFIG_MEDIATEK_MT6877=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48216334
CONFIG_PLATFORM_INIT_ADDRESS=0x482147E8
CONFIG_PLATFORM_INIT_CALLER=0x482416D6