CONFIG_APP_ADDRESS=0x4824A188
CONFIG_BOOTMODE_ADDRESS=0x4843A320
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x236D84
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4824AAB0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4824AA30
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4824AC28
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4824A6BC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4824A680
CONFIG_LK_LOG_STORE_ADDRESS=0x48292344
CONFIG_VIDEO_PRINTF_ADDRESS=0x482788B0
CONFIG_HONOR_KINGKONG=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48216C10
CONFIG_MEDIATEK_MT6877=y
CONFIG_PLATFORM_INIT_ADDRESS=0x48214EB4
CONFIG_PLATFORM_INIT_CALLER=0x4823F5E6