config HUAWEI_MAYA
    bool "Support Huawei Y5/Y6 2017"
    default n
    help
      Say Y if you want to include support for Huawei Y5/Y6 2017

config HUAWEI_DURA2
    bool "Support Huawei Y5p"
    default n
    help
      Say Y if you want to include support for Huawei Y5p
