CONFIG_APP_ADDRESS=0x4C433BC0
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x129010
CONFIG_BOOTMODE_ADDRESS=0x4C52C624
CONFIG_CERT_BYPASS=y
CONFIG_CERT_BYPASS_MODE="wrap"
CONFIG_DPRINTF_ADDRESS=0x4C444928
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C434AD0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C434A50
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C434CC0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C4345FC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C434584
CONFIG_FREE_ADDRESS=0x4C444D5C
CONFIG_INIT_STORAGE_ADDRESS=0x4C403568
CONFIG_INIT_STORAGE_CALLER=0x4C4036A6
CONFIG_LG_MCAYMANLM=y
CONFIG_LK_LOG_STORE_ADDRESS=0x4C457368
CONFIG_MALLOC_ADDRESS=0x4C44578C
CONFIG_MEDIATEK_MT6885=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C405D18
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45E3DC
CONFIG_PARTITION_READ_ADDRESS=0x4C45F728
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403670
CONFIG_PLATFORM_INIT_CALLER=0x4C4271C4
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C427980
CONFIG_THREAD_RESUME_ADDRESS=0x4C427B94
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C4440B4
