CONFIG_APP_ADDRESS=0x4824A250
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x19DF38
CONFIG_BOOTMODE_ADDRESS=0x483A1168
CONFIG_DPRINTF_ADDRESS=0x48279478
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4824ABC0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4824AB64
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4824AD38
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4824A8C0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4824A884
CONFIG_FREE_ADDRESS=0x4827A8DC
CONFIG_INIT_STORAGE_ADDRESS=0x482113A0
CONFIG_INIT_STORAGE_CALLER=0x482114A4
CONFIG_LK_LOG_STORE_ADDRESS=0x48291AD4
CONFIG_MALLOC_ADDRESS=0x4827B2C0
CONFIG_MEDIATEK_MT6889=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x482131C4
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4829BE7C
CONFIG_PARTITION_READ_ADDRESS=0x4829D7D0
CONFIG_PLATFORM_INIT_ADDRESS=0x48211470
CONFIG_PLATFORM_INIT_CALLER=0x4823F014
CONFIG_STAGE1_SUPPORT=y
CONFIG_TDTECH_OCEANT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4823F39C
CONFIG_THREAD_RESUME_ADDRESS=0x4823F530
CONFIG_VIDEO_PRINTF_ADDRESS=0x48278DA0