CONFIG_APP_ADDRESS=0x4822ECB8
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x129B58
CONFIG_BOOTMODE_ADDRESS=0x4832C598
CONFIG_DPRINTF_ADDRESS=0x4823CE1C
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822F6EC
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822F644
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822F8C8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822F2D0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822F294
CONFIG_FREE_ADDRESS=0x4823D250
CONFIG_INIT_STORAGE_ADDRESS=0x482025DC
CONFIG_INIT_STORAGE_CALLER=0x4820271A
CONFIG_LK_LOG_STORE_ADDRESS=0x48252EAC
CONFIG_MALLOC_ADDRESS=0x4823DC14
CONFIG_MEDIATEK_MT6833=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4820478C
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x48259C8C
CONFIG_PARTITION_READ_ADDRESS=0x4825AF0C
CONFIG_PLATFORM_INIT_ADDRESS=0x482026EC
CONFIG_PLATFORM_INIT_CALLER=0x4822AB32
CONFIG_STAGE1_SUPPORT=y
CONFIG_TECNO_LH8N=y
CONFIG_THREAD_CREATE_ADDRESS=0x4822B378
CONFIG_VIDEO_PRINTF_ADDRESS=0x4823C9F8
