CONFIG_APP_ADDRESS=0x48024768
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xCC7B0
CONFIG_FASTBOOT_INFO_ADDRESS=0x4802526C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48025438
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48025618
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48029ac8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48024EF8
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48024EBC
CONFIG_LK_LOG_STORE_ADDRESS=0x48045AB0
CONFIG_PLATFORM_INIT_ADDRESS=0x4800295C
CONFIG_PLATFORM_INIT_CALLER=0x4801FA18
CONFIG_VIDEO_PRINTF_ADDRESS=0x48033650
CONFIG_BOOTMODE_ADDRESS=0x480cf5e4
CONFIG_XIAOMI_ANGELICAN=y
CONFIG_MEDIATEK_MT6765=y
