CONFIG_APP_ADDRESS=0x4C423858
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x172A28
CONFIG_BOOTMODE_ADDRESS=0x4C5755BC
CONFIG_CERT_BYPASS=y
CONFIG_CERT_BYPASS_MODE="wrap"
CONFIG_DPRINTF_ADDRESS=0x4C436D94
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C4244A8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C424428
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C4246AC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C423F44
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C423F08
CONFIG_FREE_ADDRESS=0x4C437A9C
CONFIG_GET_ENV_ADDRESS=0x4C450A54
CONFIG_INIT_STORAGE_ADDRESS=0x4C402D04
CONFIG_INIT_STORAGE_CALLER=0x4C402F8E
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4497EC
CONFIG_MALLOC_ADDRESS=0x4C437A9C
CONFIG_MEDIATEK_MT6785=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C404D34
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C4507C0
CONFIG_PARTITION_READ_ADDRESS=0x4C452000
CONFIG_PLATFORM_INIT_ADDRESS=0x4C402F58
CONFIG_PLATFORM_INIT_CALLER=0x4C41F8FC
CONFIG_SET_ENV_ADDRESS=0x4C450CD8
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C436758
CONFIG_XIAOMI_BEGONIA=y
