CONFIG_APP_ADDRESS=0x48024374
CONFIG_APP_CALLER=0x48020F28
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0x132CE0
CONFIG_BOOTMODE_ADDRESS=0x481355E4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48024ED8
CONFIG_FASTBOOT_INFO_ADDRESS=0x48024D5C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x480250B8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x48024A68
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x48024A2C
CONFIG_LK_LOG_STORE_ADDRESS=0x4804484C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004A84
CONFIG_PLATFORM_INIT_ADDRESS=0x480029AC
CONFIG_PLATFORM_INIT_CALLER=0x4801F804
CONFIG_VIDEO_PRINTF_ADDRESS=0x48026A18
CONFIG_XIAOMI_DANDELION=y
CONFIG_MEDIATEK_MT6765=y