CONFIG_APP_ADDRESS=0x4C429C3C
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x16AA10
CONFIG_BOOTMODE_ADDRESS=0x4C56D5A0
CONFIG_DPRINTF_ADDRESS=0x4C43ADF4
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42A8C8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42A728
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42ABA0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A3B4
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A378
CONFIG_FREE_ADDRESS=0x4C43B224
CONFIG_GET_ENV_ADDRESS=0x4C456C00
CONFIG_INIT_STORAGE_ADDRESS=0x4C403790
CONFIG_INIT_STORAGE_CALLER=0x4C4039AA
CONFIG_LK_LOG_STORE_ADDRESS=0x4C44FDAC
CONFIG_MALLOC_ADDRESS=0x4C43BAF0
CONFIG_MEDIATEK_MT6768=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4054AC
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C4568DC
CONFIG_PARTITION_READ_ADDRESS=0x4C4583A4
CONFIG_PLATFORM_INIT_ADDRESS=0x4C40397C
CONFIG_PLATFORM_INIT_CALLER=0x4C425A1C
CONFIG_SET_ENV_ADDRESS=0x4C456E18
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C4261D8
CONFIG_THREAD_RESUME_ADDRESS=0x4C4263EC
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C42CA90
CONFIG_XIAOMI_EARTH=y