CONFIG_APP_ADDRESS=0x4C42ABAC
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x177430
CONFIG_BOOTMODE_ADDRESS=0x4C5775D8
CONFIG_DPRINTF_ADDRESS=0x4C441188
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42BA64
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42B5F0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42B790
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42B19C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42B160
CONFIG_FREE_ADDRESS=0x4C4415B8
CONFIG_GET_ENV_ADDRESS=0x4C45DCB0
CONFIG_INIT_STORAGE_ADDRESS=0x4C403C3C
CONFIG_INIT_STORAGE_CALLER=0x4C403E5C
CONFIG_LK_LOG_STORE_ADDRESS=0x4C456A44
CONFIG_MALLOC_ADDRESS=0x4C441E84
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C405C1C
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45D6E4
CONFIG_PARTITION_READ_ADDRESS=0x4C45F454
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403E2C
CONFIG_PLATFORM_INIT_CALLER=0x4C426954
CONFIG_RECOVERY_CMDLINE1_ADDRESS=0x4C579FE0
CONFIG_RECOVERY_CMDLINE2_ADDRESS=0x4C57A7E4
CONFIG_RECOVERY_CMDLINE_PATCH=y
CONFIG_SET_ENV_ADDRESS=0x4C45DEC8
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C427110
CONFIG_THREAD_RESUME_ADDRESS=0x4C427324
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C42D98C
CONFIG_XIAOMI_FIRE=y
CONFIG_MEDIATEK_MT6768=y
