CONFIG_APP_ADDRESS=0x4C42A760
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x1747B8
CONFIG_BOOTMODE_ADDRESS=0x4C5775D8
CONFIG_DPRINTF_ADDRESS=0x4C440D8C
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42B244
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42B1C4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42B518
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42AD70
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42AD34
CONFIG_FREE_ADDRESS=0x4C4411BC
CONFIG_GET_ENV_ADDRESS=0x4C45C70C
CONFIG_INIT_STORAGE_ADDRESS=0x4C403BB0
CONFIG_INIT_STORAGE_CALLER=0x4C403DCC
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4558B8
CONFIG_MALLOC_ADDRESS=0x4C441A88
CONFIG_MEDIATEK_MT6768=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C405AA8
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45C3E8
CONFIG_PARTITION_READ_ADDRESS=0x4C45DEAC
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403D9C
CONFIG_PLATFORM_INIT_CALLER=0x4C426624
CONFIG_SET_ENV_ADDRESS=0x4C45C924
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C426DE0
CONFIG_THREAD_RESUME_ADDRESS=0x4C426FF4
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C4406EC
CONFIG_XIAOMI_FIRE=y