CONFIG_APP_ADDRESS=0x4C4295C8
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x1786A0
CONFIG_BOOTMODE_ADDRESS=0x4C57B5A8
CONFIG_DPRINTF_ADDRESS=0x4C43E998
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42A370
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42A1D0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42A564
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C429D7C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C429D40
CONFIG_FREE_ADDRESS=0x4C43EDC8
CONFIG_GET_ENV_ADDRESS=0x4C45A750
CONFIG_INIT_STORAGE_ADDRESS=0x4C402680
CONFIG_INIT_STORAGE_CALLER=0x4C4029D8
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4532D4
CONFIG_MALLOC_ADDRESS=0x4C43F6A0
CONFIG_MEDIATEK_MT6781=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4044B4
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C45A42C
CONFIG_PARTITION_READ_ADDRESS=0x4C45BDD0
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4029A8
CONFIG_PLATFORM_INIT_CALLER=0x4C424824
CONFIG_SET_ENV_ADDRESS=0x4C45A968
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C424FE0
CONFIG_THREAD_RESUME_ADDRESS=0x4C4251F4
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C42BAA0
CONFIG_XIAOMI_FLEUR=y