CONFIG_APP_ADDRESS=0x48227950
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x152E20
CONFIG_BOOTMODE_ADDRESS=0x483555A4
CONFIG_CERT_BYPASS=y
CONFIG_DPRINTF_ADDRESS=0x482389F8
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x482284D0
CONFIG_FASTBOOT_INFO_ADDRESS=0x48228450
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48228778
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x482280DC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x482280A0
CONFIG_FREE_ADDRESS=0x48238E2C
CONFIG_GET_ENV_ADDRESS=0x4825440C
CONFIG_SET_ENV_ADDRESS=0x48254624
CONFIG_INIT_STORAGE_ADDRESS=0x48202574
CONFIG_INIT_STORAGE_CALLER=0x482026BC
CONFIG_LK_LOG_STORE_ADDRESS=0x4824D3AC
CONFIG_MALLOC_ADDRESS=0x482397F0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4820446C
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x48253900
CONFIG_PARTITION_READ_ADDRESS=0x4825536C
CONFIG_PLATFORM_INIT_ADDRESS=0x48202688
CONFIG_PLATFORM_INIT_CALLER=0x48223676
CONFIG_RECOVERY_CMDLINE_PATCH=y
CONFIG_RECOVERY_CMDLINE1_ADDRESS=0x48357D9C
CONFIG_RECOVERY_CMDLINE2_ADDRESS=0x483585A0
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48223E38
CONFIG_THREAD_RESUME_ADDRESS=0x48224050
CONFIG_VIDEO_PRINTF_ADDRESS=0x482383C4
CONFIG_XIAOMI_LIGHT=y
CONFIG_MEDIATEK_MT6833=y
