CONFIG_APP_ADDRESS=0x4C429C64
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0xFD884
CONFIG_BOOTMODE_ADDRESS=0x4C5005B0
CONFIG_CERT_BYPASS=y
CONFIG_CERT_BYPASS_MODE="wrap"
CONFIG_DPRINTF_ADDRESS=0x4C43E0BC
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42A904
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C42A884
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42ABAC
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C42A430
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C42A3F4
CONFIG_FREE_ADDRESS=0x4C43E4EC
CONFIG_GET_ENV_ADDRESS=0x4C457CEC
CONFIG_INIT_STORAGE_ADDRESS=0x4C4038B8
CONFIG_INIT_STORAGE_CALLER=0x4C403AE8
CONFIG_LK_LOG_STORE_ADDRESS=0x4C4510F4
CONFIG_MALLOC_ADDRESS=0x4C43EDB8
CONFIG_MEDIATEK_MT6768=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4056AC
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C4579C8
CONFIG_PARTITION_READ_ADDRESS=0x4C45938C
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403AB8
CONFIG_PLATFORM_INIT_CALLER=0x4C425920
CONFIG_SET_ENV_ADDRESS=0x4C457F04
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C4260DC
CONFIG_THREAD_RESUME_ADDRESS=0x4C4262F0
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C43DC80
CONFIG_XIAOMI_MERLIN=y