CONFIG_APP_ADDRESS=0x46028544
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0x816A8
CONFIG_BOOTMODE_ADDRESS=0x46084518
CONFIG_DPRINTF_ADDRESS=0x4602DAAC
CONFIG_FASTBOOT_FAIL_ADDRESS=0x46028A10
CONFIG_FASTBOOT_INFO_ADDRESS=0x460289C8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x46028BB8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x460287FC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x460287C8
CONFIG_FREE_ADDRESS=0x4602DDD0
CONFIG_INIT_STORAGE_ADDRESS=0x4600A19C
CONFIG_INIT_STORAGE_CALLER=0x460057B0
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x4602E69C
CONFIG_MEDIATEK_MT6797=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x46007D30
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x46007B44
CONFIG_MTK_DETECT_KEY_ADDRESS=0x460080AC
CONFIG_PLATFORM_INIT_ADDRESS=0x4600579C
CONFIG_PLATFORM_INIT_CALLER=0x46025FD2
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x4602D848
CONFIG_XIAOMI_NIKEL=y