CONFIG_APP_ADDRESS=0x46028544
CONFIG_BOOTLOADER_BASE=0x46000000
CONFIG_BOOTLOADER_SIZE=0x816A8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x46028A10
CONFIG_FASTBOOT_INFO_ADDRESS=0x460289C8
CONFIG_FASTBOOT_OKAY_ADDRESS=0x46028BB8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x460287FC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x460287C8
CONFIG_MEDIATEK_MT6797=y
CONFIG_PLATFORM_INIT_ADDRESS=0x4600579C
CONFIG_PLATFORM_INIT_CALLER=0x46025FD2
CONFIG_VIDEO_PRINTF_ADDRESS=0x4602D848
CONFIG_XIAOMI_NIKEL=y
