CONFIG_APP_ADDRESS=0x4822B650
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x14A40C
CONFIG_BOOTMODE_ADDRESS=0x4834A22C
CONFIG_CERT_BYPASS=y
CONFIG_DPRINTF_ADDRESS=0x482407D4
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822C280
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822C200
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822C484
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822BD1C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822BCE0
CONFIG_FREE_ADDRESS=0x48240C08
CONFIG_GET_ENV_ADDRESS=0x4825C194
CONFIG_SET_ENV_ADDRESS=0x4825C3AC
CONFIG_INIT_STORAGE_ADDRESS=0x48271A5C
CONFIG_INIT_STORAGE_CALLER=0x482038CA
CONFIG_LK_LOG_STORE_ADDRESS=0x482548C8
CONFIG_MALLOC_ADDRESS=0x482415CC
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48205A8C
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4825BE70
CONFIG_PARTITION_READ_ADDRESS=0x4825D0E0
CONFIG_PLATFORM_INIT_ADDRESS=0x48203A6C
CONFIG_PLATFORM_INIT_CALLER=0x4822734A
CONFIG_RECOVERY_CMDLINE_PATCH=y
CONFIG_RECOVERY_CMDLINE1_ADDRESS=0x4835061C
CONFIG_RECOVERY_CMDLINE2_ADDRESS=0x0
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48227B0C
CONFIG_VIDEO_PRINTF_ADDRESS=0x48240258
CONFIG_XIAOMI_PISSARRO=y
CONFIG_MEDIATEK_MT6877=y
