CONFIG_APP_ADDRESS=0x4822BC80
CONFIG_BOOTLOADER_BASE=0x48200000
CONFIG_BOOTLOADER_SIZE=0x1BF668
CONFIG_BOOTMODE_ADDRESS=0x483C25DC
CONFIG_DPRINTF_ADDRESS=0x48241BE0
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4822C930
CONFIG_FASTBOOT_INFO_ADDRESS=0x4822C8B0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4822CB1C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4822C3CC
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4822C390
CONFIG_FREE_ADDRESS=0x48242014
CONFIG_GET_ENV_ADDRESS=0x4825E530
CONFIG_INIT_STORAGE_ADDRESS=0x48203864
CONFIG_INIT_STORAGE_CALLER=0x48203A58
CONFIG_LK_LOG_STORE_ADDRESS=0x48256DDC
CONFIG_MALLOC_ADDRESS=0x482429D8
CONFIG_MEDIATEK_MT6877=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48205804
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4825E20C
CONFIG_PARTITION_READ_ADDRESS=0x4825F48C
CONFIG_PLATFORM_INIT_ADDRESS=0x48203A20
CONFIG_PLATFORM_INIT_CALLER=0x482278B2
CONFIG_XIAOMI_RUBY=y
CONFIG_SET_ENV_ADDRESS=0x4825E748
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x48228074
CONFIG_VIDEO_PRINTF_ADDRESS=0x4822DAEC