CONFIG_MEDIATEK_MT6768=y
CONFIG_XIAOMI_SELENE=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C4265F8
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C426578
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C4268A8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C426190
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C426154
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_GET_ENV_ADDRESS=0x4C45553C
CONFIG_SET_ENV_ADDRESS=0x4C455754
CONFIG_SPOOF_SUPPORT=y
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x160D48
CONFIG_BOOTMODE_ADDRESS=0x4C5635C0
CONFIG_PLATFORM_INIT_CALLER=0x4C422040
CONFIG_PLATFORM_INIT_ADDRESS=0x4C403830
CONFIG_APP_ADDRESS=0x4C425AE8
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C4052D8
CONFIG_THREAD_CREATE_ADDRESS=0c4C4223C4
CONFIG_THREAD_RESUME_ADDRESS=0x4C422558
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C428594
CONFIG_LK_LOG_STORE_ADDRESS=0x4C44EABC
CONFIG_CERT_BYPASS=y
CONFIG_CERT_BYPASS_MODE="wrap"
CONFIG_STAGE1_SUPPORT=y
CONFIG_INIT_STORAGE_CALLER=0x4C40385E
CONFIG_INIT_STORAGE_ADDRESS=0x4C403688
CONFIG_RECOVERY_CMDLINE1_ADDRESS=0x4C566724
CONFIG_RECOVERY_CMDLINE2_ADDRESS=0x4C565F1E
CONFIG_RECOVERY_CMDLINE_PATCH=y
CONFIG_MALLOC_ADDRESS=0x4C43C098
CONFIG_DPRINTF_ADDRESS=0x4C43B3A8
CONFIG_FREE_ADDRESS=0x4C43B7DC
CONFIG_PARTITION_READ_ADDRESS=0x4C4564B8
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C455218
