CONFIG_APP_ADDRESS=0x4801d550
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBFC64
CONFIG_BOOTMODE_ADDRESS=0x480c25d0
CONFIG_DPRINTF_ADDRESS=0x4802AB18
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4801E094
CONFIG_FASTBOOT_INFO_ADDRESS=0x4801E014
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4801E260
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4801DCA0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4801DC64
CONFIG_FREE_ADDRESS=0x4802AF48
CONFIG_INIT_STORAGE_CALLER=0x48002BBE
CONFIG_LK_LOG_STORE_ADDRESS=0x4803EE48
CONFIG_MALLOC_ADDRESS=0x4802B790
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004a78
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x480459DC
CONFIG_PARTITION_READ_ADDRESS=0x48046a04
CONFIG_PLATFORM_INIT_ADDRESS=0x48002B88
CONFIG_PLATFORM_INIT_CALLER=0x48019504
CONFIG_THREAD_CREATE_ADDRESS=0x48019CC0
CONFIG_THREAD_RESUME_ADDRESS=0x48019ED4
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802A828
CONFIG_DIGIT_NEXT_ULTRA=y
CONFIG_MEDIATEK_MT6762=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=n
CONFIG_INIT_STORAGE_ADDRESS=0x480029a0
