menu "SoC Support"

choice
    prompt "MediaTek SoC"
    help
        Select the MediaTek SoC used in your device.

config MEDIATEK_MT6572
    bool "MediaTek MT6572 SoC"

config MEDIATEK_MT6737
    bool "MediaTek MT6737 SoC"

config MEDIATEK_MT6739
    bool "MediaTek MT6739 SoC"

config MEDIATEK_MT6750
    bool "MediaTek MT6750 SoC"

config MEDIATEK_MT6757
    bool "MediaTek MT6757 SoC"

config MEDIATEK_MT6761
    bool "MediaTek MT6761 SoC"
    
config MEDIATEK_MT6762
    bool "MediaTek MT6762 SoC"

config MEDIATEK_MT6765
    bool "MediaTek MT6765 SoC"

config MEDIATEK_MT6768
    bool "MediaTek MT6768 SoC"

config MEDIATEK_MT6771
    bool "MediaTek MT6771 SoC"

config MEDIATEK_MT6781
    bool "MediaTek MT6781 SoC"

config MEDIATEK_MT6785
    bool "MediaTek MT6785 SoC"

config MEDIATEK_MT6797
    bool "MediaTek MT6797 SoC"

config MEDIATEK_MT8127
    bool "MediaTek MT8127 SoC"

config MEDIATEK_MT8163
    bool "MediaTek MT8163 SoC"

config MEDIATEK_MT8168
    bool "MediaTek MT8168 SoC"

config MEDIATEK_MT8516
    bool "MediaTek MT8516 SoC"

config MEDIATEK_MT6833
    bool "MediaTek MT6833 SoC"

config MEDIATEK_MT6877
    bool "MediaTek MT6877 SoC"

endchoice

config UART_BASE
    hex "UART base address"
    default 0x11005000 if MEDIATEK_MT6572
    default 0x11002000 if MEDIATEK_MT6750
    default 0x11002000 if MEDIATEK_MT6757
    default 0x11002000 if MEDIATEK_MT6761
    default 0x11002000 if MEDIATEK_MT6762
    default 0x11002000 if MEDIATEK_MT6765
    default 0x11002000 if MEDIATEK_MT6768
    default 0x11002000 if MEDIATEK_MT6737
    default 0x11002000 if MEDIATEK_MT6739
    default 0x11002000 if MEDIATEK_MT6781
    default 0x11002000 if MEDIATEK_MT6785
    default 0x11002000 if MEDIATEK_MT6771
    default 0x11002000 if MEDIATEK_MT6797
    default 0x11002000 if MEDIATEK_MT8127
    default 0x11002000 if MEDIATEK_MT8163
    default 0x11005000 if MEDIATEK_MT8516
    default 0x11002000 if MEDIATEK_MT6833
    default 0x11002000 if MEDIATEK_MT6877
    default 0x11002000 if MEDIATEK_MT8168

config WDT_BASE
    hex "Watchdog timer base address"
    default 0x10007000 if MEDIATEK_MT6572
    default 0x10212000 if MEDIATEK_MT6737
    default 0x10007000 if MEDIATEK_MT6739
    default 0x10007000 if MEDIATEK_MT6750
    default 0x10007000 if MEDIATEK_MT6757
    default 0x10007000 if MEDIATEK_MT6761
    default 0x10007000 if MEDIATEK_MT6762
    default 0x10007000 if MEDIATEK_MT6765
    default 0x10007000 if MEDIATEK_MT6768
    default 0x10007000 if MEDIATEK_MT6771
    default 0x10007000 if MEDIATEK_MT6781
    default 0x10007000 if MEDIATEK_MT6785
    default 0x10007000 if MEDIATEK_MT6797
    default 0x10007000 if MEDIATEK_MT8127
    default 0x10007000 if MEDIATEK_MT8163
    default 0x10007000 if MEDIATEK_MT8168
    default 0x10007000 if MEDIATEK_MT8516
    default 0x10007000 if MEDIATEK_MT6833
    default 0x10007000 if MEDIATEK_MT6877

endmenu
