CONFIG_ACER_T482L=y
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xBC578
CONFIG_APP_ADDRESS=0x480222E0
CONFIG_BOOTMODE_ADDRESS=0x480BF5DC
CONFIG_DPRINTF_ADDRESS=0x4802CCC4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x48022B5C
CONFIG_FASTBOOT_INFO_ADDRESS=0x48022B00
CONFIG_FASTBOOT_OKAY_ADDRESS=0x48022D28
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4802280C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x480227D0
CONFIG_FREE_ADDRESS=0x4802D084
CONFIG_INIT_STORAGE_CALLER=0x48002AC0
CONFIG_INIT_STORAGE_ADDRESS=0x480028B0
CONFIG_LK_LOG_STORE_ADDRESS=0x4803DFDC
CONFIG_MALLOC_ADDRESS=0x4802D8C8
CONFIG_MEDIATEK_MT6761=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x480046C8
CONFIG_USE_LEGACY_PARTITION_API=y
CONFIG_PARTITION_GET_INDEX_ADDRESS=0x48044918
CONFIG_PARTITION_GET_OFFSET_ADDRESS=0x48044A04
CONFIG_PARTITION_GET_SIZE_ADDRESS=0x48044A60
CONFIG_PLATFORM_INIT_ADDRESS=0x48002A90
CONFIG_PLATFORM_INIT_CALLER=0x4801E920
CONFIG_THREAD_CREATE_ADDRESS=0x4801F0DC
CONFIG_THREAD_RESUME_ADDRESS=0x4801F2F0
CONFIG_VIDEO_PRINTF_ADDRESS=0x4802C9D4
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x480517C8
