CONFIG_APP_ADDRESS=0x4801DA8C
CONFIG_BOOTLOADER_BASE=0x48000000
CONFIG_BOOTLOADER_SIZE=0xB78A4
CONFIG_BOOTMODE_ADDRESS=0x480BA5D0
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4801E4FC
CONFIG_FASTBOOT_INFO_ADDRESS=0x4801E47C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4801E6C8
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4801E108
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4801E0CC
CONFIG_LK_LOG_STORE_ADDRESS=0x4803E528
CONFIG_PLATFORM_INIT_ADDRESS=0x48002B88
CONFIG_PLATFORM_INIT_CALLER=0x480197A8
CONFIG_MTK_DETECT_KEY_ADDRESS=0x48004A60
CONFIG_VIDEO_PRINTF_ADDRESS=0x48029EFC
CONFIG_RABBIT_R1=y
CONFIG_MEDIATEK_MT6765=y
