CONFIG_APP_ADDRESS=0x41E1CCC8
CONFIG_APP_CALLER=0x41E1B9B4
CONFIG_BOOTLOADER_BASE=0x41E00000
CONFIG_BOOTLOADER_SIZE=0x42418
CONFIG_BOOTMODE_ADDRESS=0x41E44500
CONFIG_BQ_AQUARIS_M8=y
CONFIG_DPRINTF_ADDRESS=0x41E20E70
CONFIG_FASTBOOT_FAIL_ADDRESS=0x41E1D1D4
CONFIG_FASTBOOT_INFO_ADDRESS=0x41E1D18C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x41E1D37C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x41E1CFC0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x41E1CF8C
CONFIG_FREE_ADDRESS=0x41E21194
CONFIG_INIT_STORAGE_ADDRESS=0x41E19034
CONFIG_INIT_STORAGE_CALLER=0x41E02C6C
CONFIG_LEGACY_LK=y
CONFIG_LK_LOG_STORE=n
CONFIG_MALLOC_ADDRESS=0x41E21A20
CONFIG_MEDIATEK_MT8163=y
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x41E14050
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x41E13EFC
CONFIG_MTK_DETECT_KEY_ADDRESS=0x41E0548C
CONFIG_PLATFORM_INIT_ADDRESS=0x41E02C4C
CONFIG_PLATFORM_INIT_CALLER=0x41E1ADA6
CONFIG_STAGE1_SUPPORT=y
CONFIG_VIDEO_PRINTF_ADDRESS=0x41E20C0C