CONFIG_APP_ADDRESS=0x41E1CCC8
CONFIG_APP_CALLER=0x41E1B9B4
CONFIG_BOOTLOADER_BASE=0x41E00000
CONFIG_BOOTLOADER_SIZE=0x42418
CONFIG_BOOTMODE_ADDRESS=0x41E44500
CONFIG_FASTBOOT_FAIL_ADDRESS=0x41E1D1D4
CONFIG_FASTBOOT_INFO_ADDRESS=0x41E1D18C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x41E1D37C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x41E1CFC0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x41E1CF8C
CONFIG_LK_LOG_STORE=n
CONFIG_MTK_DETECT_KEY_ADDRESS=0x41E0548C
CONFIG_PLATFORM_INIT_ADDRESS=0x41E02C4C
CONFIG_PLATFORM_INIT_CALLER=0x41E1ADA6
CONFIG_VIDEO_PRINTF_ADDRESS=0x41E20C0C
CONFIG_BQ_AQUARIS_M8=y
CONFIG_MEDIATEK_MT8163=y