CONFIG_APP_ADDRESS=0x81E1AF94
CONFIG_BOOTLOADER_BASE=0x81E00000
CONFIG_BOOTLOADER_SIZE=0x39B44
CONFIG_BOOTMODE_ADDRESS=0x81E3C4D8
CONFIG_FASTBOOT_FAIL_ADDRESS=0x81E1B3A4
CONFIG_FASTBOOT_INFO_ADDRESS=0x81E1B35C
CONFIG_FASTBOOT_OKAY_ADDRESS=0x81E1B52C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x81E1B16C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x81E1B12C
CONFIG_LK_LOG_STORE=n
CONFIG_PLATFORM_INIT_ADDRESS=0x81E00588
CONFIG_PLATFORM_INIT_CALLER=0x81E199EA
CONFIG_BQ_BROLLY=y
CONFIG_MEDIATEK_MT8127=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x81E06B8C
CONFIG_VIDEO_PRINTF_ADDRESS=0x81E1D3F0