CONFIG_APP_ADDRESS=0x5601E0C0
CONFIG_BOOTLOADER_BASE=0x56000000
CONFIG_BOOTLOADER_SIZE=0x486BC
CONFIG_BOOTMODE_ADDRESS=0x5604E100
CONFIG_BQ_FREEZERHD=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x5601E9B0
CONFIG_FASTBOOT_INFO_ADDRESS=0x5601E968
CONFIG_FASTBOOT_OKAY_ADDRESS=0x5601EB7C
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x5601E79C
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x5601E760
CONFIG_LK_LOG_STORE=n
CONFIG_MEDIATEK_MT8163=y
CONFIG_MTK_DETECT_KEY_ADDRESS=0x56005538
CONFIG_PLATFORM_INIT_ADDRESS=0x56002CA8
CONFIG_PLATFORM_INIT_CALLER=0x5601B460
CONFIG_VIDEO_PRINTF_ADDRESS=0x56022CAC