CONFIG_STAGE1_SUPPORT=y
CONFIG_LEGACY_LK=y
CONFIG_USE_PMT_PARTITION=y
CONFIG_BOOTLOADER_BASE=0x81E00000
CONFIG_BOOTLOADER_SIZE=0x39DDC
CONFIG_BOOTLOADER_PARTITION_NAME="UBOOT"
CONFIG_MEDIATEK_MT6592=y
CONFIG_BQ_KAITO=y
CONFIG_LK_LOG_STORE=n
CONFIG_APP_ADDRESS=0x81E19B30
CONFIG_BOOTMODE_ADDRESS=0x81E3C438
CONFIG_DPRINTF_ADDRESS=0x81E1CDB4
CONFIG_FASTBOOT_FAIL_ADDRESS=0x81E19EE8
CONFIG_FASTBOOT_INFO_ADDRESS=0x81E19EA4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x81E1A080
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x81E19CF0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x81E19CB0
CONFIG_FREE_ADDRESS=0x81E1D0B4
CONFIG_INIT_STORAGE_ADDRESS=0x81E04DD0
CONFIG_INIT_STORAGE_CALLER=0x81E00446
CONFIG_MALLOC_ADDRESS=0x81E1D9C8
CONFIG_MT_PART_GET_DEVICE_ADDRESS=0x81E0322C
CONFIG_MTK_DETECT_KEY_ADDRESS=0x81E0A0D8
CONFIG_PLATFORM_INIT_ADDRESS=0x81E00428
CONFIG_PLATFORM_INIT_CALLER=0x81E1868A
CONFIG_VIDEO_PRINTF_ADDRESS=0x81E1C2CC
CONFIG_MT_PART_GET_PARTITION_ADDRESS=0x81e03060